<div class="wrapper">
    <div class="main-container">
        <app-sidebar [sidebarData]="sidebar"></app-sidebar>
        <div class="content mb-5 p-4">
            <div class="home-next d-flex justify-content-between p-3">
                <button type="button" class="home-btn"> <span class="left-arrow"><i
                            class="fas fa-chevron-left fa-2x"></i></span>Privious</button>
                <button type="button" class="next-btn ">Next <span class="right-arrow"><i
                            class="fas fa-chevron-right fa-2x"></i></span></button>
            </div>

            <div class="numerics p-2 pt-0 ">
                <h1>.NET Core - Numerics</h1>
            </div>
            <h3 class="px-4">Dependencies</h3>
            <div class="numeric p-4">
                <ul>
                    <li>System.Numerics.BigInteger which is an integral type with no upper or lower bound.</li>
                    <li>System.Numerics.Complex is a type that represents complex numbers.</li>
                    <li>A set of Single Instruction Multiple Data (SIMD)-enabled vector types in the System.Numerics
                        namespace.</li>

                </ul>
            </div>
            <hr>

            <h3 class="px-4">Integral types</h3>
            <div class="integral p-4">
                <p>.NET Core supports both signed and unsigned integers of different ranges from one byte to eight bytes
                    in length. All integers are value types.</p>
                <p>The following table represents the integral types and their size;</p>

                <table>
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Signed/ Unsigned</th>
                            <th>Size (bytes)</th>
                            <th>Minimum Value</th>
                            <th>Maximum Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Byte</td>
                            <td>Unsigned</td>
                            <td>1</td>
                            <td>0</td>
                            <td>255</td>
                        </tr>
                        <tr>
                            <td>Int16</td>
                            <td>Signed</td>
                            <td>2</td>
                            <td>-32768</td>
                            <td>32767</td>
                        </tr>
                        <tr>
                            <td>Int32</td>
                            <td>Signed</td>
                            <td>4</td>
                            <td>-2,147,483,648</td>
                            <td>2,147,483,647</td>
                        </tr>
                        <tr>
                            <td>Int64</td>
                            <td>Signed</td>
                            <td>8</td>
                            <td>−9,223,372,036,854,775,808 </td>
                            <td>9,223,372,036,854,775,807</td>
                        </tr>
                        <tr>
                            <td>SBYTE</td>
                            <td>Signed</td>
                            <td>1</td>
                            <td>-128</td>
                            <td>127</td>
                        </tr>
                        <tr>
                            <td>UInt16</td>
                            <td>Unsigned</td>
                            <td>2</td>
                            <td>0</td>
                            <td>65,535</td>
                        </tr>
                        <tr>
                            <td>UInt32</td>
                            <td>Unsigned</td>
                            <td>4</td>
                            <td>0</td>
                            <td>4,294,967,295</td>
                        </tr>
                        <tr>
                            <td>UInt64</td>
                            <td>Unsigned</td>
                            <td>8</td>
                            <td>0</td>
                            <td>18,446,744,073,709,551,615</td>
                        </tr>
                    </tbody>
                </table>

                <p>Each integral type supports a standard set of arithmetic, comparison, equality, explicit conversion,
                    and implicit conversion operators.</p>
                <p>You can also work with the individual bits in an integer value by using the System.BitConverter
                    class.</p>
            </div>
            <hr>
            <h3 class="px-4">Floating-point types</h3>
            <div class="integral p-4">
                <p>.NET Core includes three primitive floating point types, which are shown in the following table.</p>

                <table>
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Size (bytes)</th>
                            <th>Minimum Value</th>
                            <th>Maximum Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Double</td>
                            <td>8</td>
                            <td>−1.79769313486232e308</td>
                            <td>1.79769313486232e308</td>
                        </tr>
                        <tr>
                            <td>Single</td>
                            <td>4</td>
                            <td>−3.402823e38</td>
                            <td>3.402823e38</td>
                        </tr>
                        <tr>
                            <td>Decimal</td>
                            <td>16</td>
                            <td>−79,228,162,514,264,337,593,5 43,950,335</td>
                            <td>79,228,162,514,264,337,593,543,9 50,335</td>
                        </tr>
                    </tbody>
                </table>
                <h3 class="px-4">Dependencies</h3>
                <div class="numeric p-4">
                    <ul>
                        <li>Each floating-point type supports a standard set of arithmetic, comparison, equality,
                            explicit conversion, and implicit conversion operators.</li>
                        <li>You can also work with the individual bits in Double and Single values by using the
                            BitConverter class.</li>
                        <li>The Decimal structure has its own methods, Decimal.GetBits and Decimal.Decimal(Int32()), for
                            working with a decimal value's individual bits, as well as its own set of methods for
                            performing some additional mathematical operations.</li>

                    </ul>
                </div>
                <hr>

                <h3 class="px-4">BigInteger</h3>
                <div class="numeric p-4">
                    <ul>
                        <li>System.Numerics.BigInteger is an immutable type that represents an arbitrarily large integer
                            whose value in theory has no upper or lower bounds.</li>
                        <li>The methods of the BigInteger type is closely parallel to those of the other integral types.
                        </li>

                    </ul>
                </div>
                <hr>

                <h3 class="px-4">Complex</h3>
                <div class="numeric p-4">
                    <ul>
                        <li>The System.Numerics.Complex type represents a complex number, i.e., a number with a real
                            number part and an imaginary number part</li>
                        <li>It supports a standard set of arithmetic, comparison, equality, explicit conversion, and
                            implicit conversion operators, as well as mathematical, algebraic, and trigonometric
                            methods.</li>

                    </ul>
                </div>
                <hr>

                <h3 class="px-4">SIMD</h3>
                <div class="numeric p-4">
                    <ul>
                        <li>
                            The Numerics namespace includes a set of SIMD-enabled vector types for .NET Core.
                        </li>
                        <li>
                            SIMD allows some operations to be parallelized at the hardware level, which results in huge
                            performance improvements in mathematical, scientific, and graphics apps that perform
                            computations over vectors.
                        </li>
                        <li>
                            The SIMD-enabled vector types in .NET Core include the following −
                            <ul>
                                <li>
                                    System.Numerics.Vector2, System.Numerics.Vector3, and System.Numerics.Vector4 types,
                                    which are 2, 3, and 4-dimensional vectors of type Single.
                                </li>
                                <li>
                                    The Vector &lt;T&gt; structure that allows you to create a vector of any primitive
                                    numeric
                                    type. The primitive numeric types include all numeric types in the System
                                    namespace except for Decimal.
                                </li>
                                <li>
                                    Two matrix types, System.Numerics.Matrix3×2, which represents a 3×2 matrix; and
                                    System.Numerics.Matrix4×4, which represents a 4×4 matrix.
                                </li>
                                <li>
                                    The System.Numerics.Plane type, which represents a three-dimensional plane, and the
                                    System.Numerics.Quaternion type, which represents a vector that is used to encode
                                    three-dimensional physical rotations.
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
</div>