<div class="wrapper">
    <div class="main-container">
        <app-sidebar [sidebarData]="sidebar"></app-sidebar>
        <div class="content mb-5 p-4">
            <div class="home-next d-flex justify-content-between p-3">
                <button type="button" class="home-btn"> <span class="left-arrow"><i
                            class="fas fa-chevron-left fa-2x"></i></span>Privious</button>
                <button type="button" class="next-btn ">Next <span class="right-arrow"><i
                            class="fas fa-chevron-right fa-2x"></i></span></button>
            </div>
            <h1 class="p-3 pt-1" id="introduction">HTML JavaScript</h1>
            <div class="quotations px-4">
                <p>
                    JavaScript makes HTML pages more dynamic and interactive.
                </p>
            </div>
            <hr>
            <div class="quotations px-4">
                <h2>The HTML &lt;script&gt; Tag</h2>
                <p>
                    The HTML <span class="red-text">&lt;script&gt;</span> tag is used to define a client-side script
                    (JavaScript).
                </p>
                <p>
                    The <span class="red-text">&lt;script&gt;</span> element either contains script statements, or it
                    points to an external script file through the <span class="red-text">src</span> attribute.
                </p>
                <p>
                    Common uses for JavaScript are image manipulation, form validation, and dynamic changes of content.
                </p>
                <p>
                    To select an HTML element, JavaScript most often uses the <span
                        class="red-text">document.getElementById()</span> method.
                </p>
            </div>
            <hr>
            <div class="quotations px-4">
                <h2>The HTML &lt;noscript&gt; Tag</h2>
                <p>
                    The HTML <span class="red-text">&lt;noscript&gt;</span> tag defines an alternate content to be displayed to users that have disabled
                        scripts in their browser or have a browser that doesn't support scripts
                </p>
            </div>
            <hr>
            <div class="example-editor bg-light p-4 pt-1">
                <h2 class="p-3 pb-0">Example</h2>
                <div class="code-section mx-4 p-3  mt-3">
                    <textarea #codeEditor></textarea>
                </div>
                <div class="output-frame w-100 p-3 mx-3">
                    <div #outputContainer></div>
                </div>
                <div class="try-yourself px-4  pb-4">
                    <button type="button" class="home-btn" (click)="runCode()">
                        Try it yourself
                        <span class="right-arrow">
                            <i class="fas fa-chevron-right fa-2x"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>