.service-item {
    background: #073040;
    transition: .5s;
    color: #ffffff;
}

.service-item:hover {
    margin-top: -10px;
    background:#ff6930;
}

.service-item * {
    transition: .5s;
}

.service-item:hover * {
    color: var(--light) !important;
}
.fa-graduation-cap,.fa-globe,.fa-home,.fa-book-open{
    color: #ffffff !important;
}

.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: #073040 !important;
}

.section-title::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 4px;
    left: -40px;
    background: #073040;
    z-index: -1;
}

.section-title::after {
    position: absolute;
    content: "";
    width: calc(100% + 120px);
    height: 2px;
    bottom: 5px;
    left: -60px;
    background: #073040;
    z-index: -1;
}

.section-title.text-start::before {
    width: calc(100% + 40px);
    left: 0;
}

.section-title.text-start::after {
    width: calc(100% + 60px);
    left: 0;
}
