<div class="wrapper">
    <div class="main-container">
        <app-sidebar [sidebarData]="sidebar"></app-sidebar>
        <div class="content mb-5 p-4">
            <div class="home-next d-flex justify-content-between p-3">
                <button type="button" class="home-btn" [routerLink]="['../html-style-guide']"> <span
                        class="left-arrow"><i class="fas fa-chevron-left fa-2x"></i></span>Privious</button>
                <button type="button" class="next-btn " [routerLink]="['../html-symbols']">Next <span
                        class="right-arrow"><i class="fas fa-chevron-right fa-2x"></i></span></button>
            </div>
            <h1 class="p-3 pt-1" id="introduction">HTML Entities</h1>
            <div class="quotations px-4">
                <p>
                    Reserved characters in HTML must be replaced with entities:
                </p>
                <ul>
                    <li>&lt; (less than) = <strong>&lt;</strong></li>
                    <li>&gt; (greather than) = <strong>&gt;</strong></li>
                </ul>
            </div>
            <hr>
            <div class="quotations px-4">
                <h2>HTML Character Entities</h2>
                <p>
                    Some characters are reserved in HTML.
                </p>
                <p>
                    If you use the less than (<) or greater than (>) signs in your HTML text, the browser might mix them
                        with tags.
                </p>
                <p>
                    Entity names or entity numbers can be used to display reserved HTML characters.
                </p>
                <p>
                    Entity names look like this:
                </p>
                <div class="note p-3 mt-3">
                    <p>
                        <span class="red-text">&entity_name;</span>
                        <br>
                        <strong>Entity names</strong> are easier to remember than entity numbers.
                    </p>
                </div>
                <hr>
                <div class="quotations px-4">
                    <h2>Non-breaking Space</h2>
                    <p>
                        A commonly used HTML entity is the non-breaking space: <strong>&amp;nbsp;</strong>
                    </p>
                    <p>
                        A non-breaking space is a space that will not break into a new line.
                    </p>
                    <p>
                        Two words separated by a non-breaking space will stick together (not break into a new line).
                        This is handy when breaking the words might be disruptive.
                    </p>
                    <p>
                        Examples:
                    </p>
                    <ul>
                        <li>§ 10</li>
                        <li>10 km/h</li>
                        <li>10 PM</li>
                    </ul>
                    <p>
                        Another common use of the non-breaking space is to prevent browsers from truncating spaces in
                        HTML pages.
                    </p>
                    <p>
                        If you write 10 spaces in your text, the browser will remove 9 of them. To add real spaces to
                        your text, you can use the <strong>&amp;nbsp;</strong> character entity.
                    </p>
                    <div class="note p-3 mt-3">
                        <p>
                            The non-breaking hyphen (&#8209;) is used to define a hyphen character (‑) that does not
                            break into a new line.
                        </p>
                    </div>
                </div>
                <hr>
                <div class="quotations px-4">
                    <h2>Combining Diacritical Marks</h2>
                    <p>
                        A diacritical mark is a "glyph" added to a letter.
                    </p>
                    <p>
                        Some diacritical marks, like grave ( ̀) and acute ( ́) are called accents.
                    </p>
                    <p>
                        Diacritical marks can be used in combination with alphanumeric characters to produce a character
                        that is not present in the character set (encoding) used in the page.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>