body{
  font-family: blinker;
}
.navbar{
    background-color: #073040;

}
form{
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    outline: none;
    max-width: 30%;
}
.bg{
    border-radius: 25px;  
    outline: none;
    border: none;
    max-width: 70%;
    margin-right: auto;
}
.bg:focus{
   box-shadow: none!important;
}
nav{
    padding: 10px 50px!important;
}
.new{
    border: none;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
}
.nav-link{
    font-size: large;
   
    font-weight: 400;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(255 255 255);

}
.nav-item a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: tomato;
    transition: width .3s;
}
.nav-item a:hover::after {
    width: 100%;
    transition: width .3s;
}
.toggle-services::after{
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: tomato;
  transition: width .3s;
}
.toggle-services:hover:after{
  width: 100%;
    transition: width .3s;
}
.dropdown-item:hover{
    background-color:#008dc5 ;
    color: white;
}
/* .bgg{
    background-color:#008dc5 ;
    color: white;
} */

/* / custom for background main  */

.sub-top-nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.sub-top-nav-container{
    width: 100%;
}
.sub-top-nav a{
    text-decoration: none;
}



/* home page css  */
.main-background-banner{
    position: relative;
    background-image: url(../../assets/images/cen4.jpg);
    background-repeat:no-repeat;
    min-height: 100vh;
    background-position:bottom;
     background-attachment: fixed;
}
.overlay-color {
    position: absolute;
    bottom: 0;
    background-color: rgba(1, 2, 36, 0.747);
    text-align: center;
    width: 100%;
    height: 100%;
    transition: .5s ease;
}
.heading {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.heading h1 {
    font-size: 60px;
}
.tomato{
    color: tomato;
}
.pulse {
    display: flex;
    margin: auto;
    width: 94px;
    height: 94px;
    background: radial-gradient(tomato 50%, rgba(101, 111, 150, 0.15) 52%);
    border-radius: 50%;
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 0 rgba(26, 25, 23, 0.849);
    animation: pulse 2s infinite;
  }
  .pulse:hover::after{
    border-left: 15px solid tomato;
    transform: scale(20);
  }
  .pulse::after{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
  .pulse:hover::before{
    animation: none;
     /* border-left: 15px solid #fff;  */
    border: 0px solid tomato;
     /* transform: scale(2);  */
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 200;
    -webkit-animation: none;
    border-radius: 0;
} 
@-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }
.play-button-icon i{
    width: 37px;
    height: 37px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-45%) translateY(-27%);
    padding: 2px 0px;
}
.bottom-line{
    width: 5%;
    padding: 3px 15px;
    background-color: tomato;
    display: flex;
    margin: 50px auto;
}
.play-btn{
    width: 94px;
    height: 94px;
    background-color: tomato;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}
.about-event-btn{
    border-radius:25px;
    padding: 12px 45px;
    color: white;
}
.welcome{
    display: block;
}

/* training section css begin  */
.trainign-image img{
    width: 100%;
    /* / border-radius: 31px;  */
    /* / box-shadow: -10px 7px 22px lightgray; / */
}
.view-more{
    text-decoration: none;
    background: #ff6930;
    color: #ffffff;
    padding: 9px 17px;
    border-radius: 25px;
    border: 2px solid #ff6930;

}
.view-more:hover{
    background: #ffffff;
    color: #ff6930;
    border: 2px solid #ff6930;
}
.train-image{
    margin: 2px;
    height: 200px !important;
    overflow: hidden;
}
.train-image img{
    transition: 0.3s all ease-in-out;
}
.train-image:hover img {
    width: 100%;
    transform: scale(1.1);
}

/* span.ind-training:after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: tomato;
    transition: width .3s;
}
span.ind-training:hover::after {
    width: 100%;
    transition: width .3s;
} */
.certificate-image img,.ask-image img{
    width: 100%;
    border-radius: 20px;
}

li.nav-item a {
  font-size: 20px !important;
}
/* Scroll Nav */

.sub-top-nav-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .sub-top-nav {
    white-space: nowrap;
    display: flex;
    align-items: center;
    transition: transform 0.5s ease;
  }
  
  .sub-top-nav a {
    /* display: inline-block; */
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
  }
  
  .arrow {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sub-top-nav::-webkit-scrollbar {
    display: none;
  }
  
  .arrow-left {
    justify-content: flex-start !important;
  }
  
  .arrow-right {
    justify-content: flex-end !important;
  }
  
  .main-sub-nav {
    background: #ff6930;
  }
  
  .fa-chevron-left,
  .fa-chevron-right {
    color: #ffffff !important;
  }
  

  
  .fa-chevron-left::before {
    content: "\f053";
    font-size: 21px;
    display: flex;
  }
  
  .fa-chevron-right::before {
    font-size: 21px;
    display: flex;
  }
  
  .subjects-list {
    height: 42px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }