<footer>
    <div class="main-footer-section">
        <div class="container p-5 ">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="logo">
                        <img src="../assets/images/CodeBank.png" width="70%">
                    </div>
                    <p class="text-white mt-1">In alias aperiam. Placeat tempore facere. Officiis voluptate ipsam vel
                        eveniet est dolor et totam porro. Perspicia omnis fugit molestiae
                        In inventore consequatur ad voluptate cupiditate debitis accusamus repellat cumque.</p>
                </div>
                <div class="col-lg-4 col-md-4 last">
                    <h4>USEFUL LINKS</h4>
                    <div class="list3">
                        <li><i class="fa fa-angle-right"></i><a href="javascript:void(0)">Home</a></li>
                    </div>
                    <div class="list3">
                        <li><i class="fa fa-angle-right"></i><a href="javascript:void(0)">About Us</a></li>
                    </div>
                    <div class="list3">
                        <li><i class="fa fa-angle-right"></i><a href="javascript:void(0)">Contact</a></li>
                    </div>
                    <div class="list3">
                        <li><i class="fa fa-angle-right"></i><a href="javascript:void(0)">Services</a></li>
                    </div>
                    <div class="list3">
                        <li><i class="fa fa-angle-right"></i><a href="javascript:void(0)">Home</a></li>
                    </div>
                </div>
                <!-- <div class="col-lg-3 col-md-6 last">
                    <h4>USEFUL LINKS</h4>
                    <div class="list3">
                        <li><i class="fa fa-angle-right"></i><a href="javascript:void(0)">Home</a></li>
                    </div>
                    <div class="list3">
                        <li><i class="fa fa-angle-right"></i><a href="javascript:void(0)">Home</a></li>
                    </div>
                    <div class="list3">
                        <li><i class="fa fa-angle-right"></i><a href="javascript:void(0)">Home</a></li>
                    </div>
                    <div class="list3">
                        <li><i class="fa fa-angle-right"></i><a href="javascript:void(0)">Home</a></li>
                    </div>
                    <div class="list3">
                        <li><i class="fa fa-angle-right"></i><a href="javascript:void(0)">Home</a></li>
                    </div>
                </div> -->
                <div class="col-lg-4 col-md-4 last">
                    <h4>CONTACT US</h4>
                    <p class="m-0 text-white">E-51 Phase-8 Industrial Area Mohali (SAS Nagar) Punjab</p>
                    <p class="m-0 text-white">Phone: 8544884846</p>
                    <p class="m-0 text-white">Email: hrmanager@thetechenigneer.com</p> 

                    <div class="social-icons mt-3">
                        <!-- <a href="javascript:void(0)"><i class="fab fa-twitter twitter"></i></a> -->
                        <a href="https://www.facebook.com/people/TechEngineer/100083472395433/"><i class="fab fa-facebook-f facebook"></i></a>
                        <a href="https://www.instagram.com/Tech_Enginer/"><i class="fab fa-instagram instagram" aria-hidden="true"></i></a>
                        <!-- <a href="javascript:void(0)"><i class="fab fa-google-plus-g google"></i></a> -->
                        <a href="https://in.linkedin.com/in/gurinder-dhanoa"><i class="fab fa-linkedin linkdin" aria-hidden="true"></i></a>
                        <a href="https://www.youtube.com/results?search_query=tech+engineer"><i class="fab fa-youtube youtube" aria-hidden="true"></i></a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="copyright-section text-center p-4">
        <p class="text-white m-0"> © Copyright <strong>CodeBank</strong>. All Rights Reserved</p>
        <p class="text-white">Designed by <span class="designer">Tech Engineer</span> </p>
    </div>
    <a href="javascript:void(0)" class="back-to-top" (click)="scrollToTop()"
    style="display: inline; background:tomato; height: 30px; width: 30px; border-radius: 50%; text-align:center; color: white;">
    <i class="fa fa-angle-up" style="padding-bottom: 3px;"></i>
</a>
</footer>

