<div class="container">
<div class="card"  style="text-align: center;">
  <div class="card-header">
     <h3>HTML Meta Tags</h3>
  </div>
  <div class="card-body" style="border-radius: 10px solid red;">
    <h5 class="card-title"> </h5>

 <div class="container-fluid" >
  <h5>What is Meta Tags ?</h5>
  

  Meta tags are HTML tags that provide information about a webpage to search engines and web browsers. They are placed within the head section of an HTML document and provide information such as the page title, description, keywords, and author. Meta tags are not visible to website visitors but are used by search engines to better understand the content and purpose of a webpage.

  Some common types of meta tags include:
  
 1. Title tag - This tag provides the title of the webpage, which is often displayed in search engine results as the main headline for the page.
  
 2. Description tag - This tag provides a brief description of the content on the webpage, which is often displayed in search engine results beneath the title tag.
  
 3. Keywords tag - This tag provides a list of keywords or phrases that describe the content on the webpage. However, search engines today do not use this tag as much as before.
  
 4. Robots tag - This tag provides instructions to search engines on how to crawl and index the webpage.
  
  Meta tags can play an important role in search engine optimization (SEO) as they help search engines understand what a webpage is about, which can improve its ranking in search results. However, the impact of meta tags on SEO has diminished over the years as search engines have become more sophisticated and rely on a wide range of factors to determine a webpage's relevance and ranking.<br>
  <br>
  
     <h6>Why we use Meta Tags ?</h6>

     Meta tags are used for several reasons, including:

<br>1. Improving search engine visibility: Meta tags provide information about a webpage to search engines, which can help them understand the content and purpose of the page. This can improve the page's visibility in search results and make it more likely to be found by users. 

<br>2. Providing information to users: Meta tags can also provide information to users about a webpage before they click on it in search results. The title and description tags, for example, can give users a sense of what the page is about and whether it is relevant to their search query.

<br>3. Differentiating from competitors: Well-written meta tags can help a webpage stand out from competitors in search results. A clear and compelling title and description can encourage users to click on a particular search result over others.

<br>4. Supporting website accessibility: Some meta tags, such as the robots tag, can help ensure that a website is accessible to search engine crawlers, which can improve its visibility in search results and overall accessibility to users.

<br>While meta tags alone are not enough to guarantee a high ranking in search results, they can play a role in improving visibility and driving traffic to a webpage. It is important to use them wisely and in conjunction with other SEO tactics to achieve the best results.

    
  </div> 
  </div>
 
  <div class="card-footer text-muted">
   <div class="row">
     <div class="col-sm-12 col-lg-6">
        <span class="tagcolor " style="color:brown">
        <span style="color:mediumblue"><</span>
        !DOCTYPE
       <span>html</span>
       <span style="color:mediumblue">></span>
        </span><br>
        <span class="tagcolor " style="color:brown">
        <span style="color:mediumblue"><</span>
       <span>html</span>
       <span style="color:mediumblue">></span>
        </span><br>
        <span class="tagcolor " style="color:brown">
           <span style="color:mediumblue"><</span>
          <span>head</span>
          <span style="color:mediumblue">></span>
           </span><br>
           <span class="tagcolor " style="color:brown">
              <span style="color:mediumblue"><</span>
             <span>meta charset='utf-8'</span>
             
             <span style="color:mediumblue">></span>
              </span><br>
             
              <span class="tagcolor " style="color:brown">
                 <span style="color:mediumblue"><</span>
                <span>meta name="description" content=" Take traninig from TechEng"</span>
                <span style="color:mediumblue">></span>
                 </span><br>

                 <span class="tagcolor " style="color:brown">
                 <span style="color:mediumblue"><</span>
                <span>meta name="keywords" content="Traninig"</span>
                <span style="color:mediumblue">></span>
                 </span><br>

                 <span class="tagcolor " style="color:brown">
                  <span style="color:mediumblue"><</span>
                 <span>meta name="author" content="TechEng"</span>
                 <span style="color:mediumblue">></span>
                  </span><br>
 
                  <span class="tagcolor " style="color:brown">
                    <span style="color:mediumblue"><</span>
                   <span>meta http-equiv="refresh " content="TechEng"</span>
                   <span style="color:mediumblue">></span>
                    </span><br>

                 <span class="tagcolor " style="color:brown">
                    <span style="color:mediumblue"><</span>
                   <span>/head</span>
                   <span style="color:mediumblue">></span>
                    </span><br>
       <span class="tagcolor" style="color:brown">
        <span  style="color:brown"><</span>body
        <span style="color:mediumblue">></span>
        </span><br>
        <span class="tagcolor" style="color:brown">
        <span style="color:mediumblue"><</span>
        <span>h></span>
       <span>This is meta Tag</span>
       <span style="color:mediumblue"><</span>
       <span>/h></span>
       </span><br>
       
       <span class="tagcolor" style="color:brown">
       <span style="color:mediumblue"><</span>/body
       <span style="color:mediumblue">></span>
       </span><br>
       <span class="tagcolor" style="color:brown">
       <span style="color:mediumblue"><</span>/html
       <span style="color:mediumblue">></span>
       </span><br> 
      
     </div>
     <hr>
     <div class="row">
      <div class="col-sm-12 col-lg-6">
         <button id="bt" (click)="display()">Try YourSelf</button>
         <iframe width="100%" id="html-iframe" height="50%"></iframe>
      </div>
   <div class="col-sm-12 col-lg-6">
      <iframe class="video" width="530" height="315" src="https://www.youtube.com/embed/QZwSfut5YZ4" title="YouTube video player" alt="Tech Engineer,html,CSS,html online traning,react traning ,angular traning in kharar,kharar, kharar best traning center,web development traning kharar,web design traning, digital marketing, mobile app development,traning,software developer.IT carrer " frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
   </div>
   </div>


  </div></div>
  
  
</div>
</div>
 
