<div class="wrapper">
    <div class="main-container">
        <app-sidebar [sidebarData]="sidebar"></app-sidebar>
        <div class="content mb-5 p-4 ">
            <div class="home-next d-flex justify-content-between">
                <button type="button" class="home-btn"> <span class="left-arrow"><i
                            class="fas fa-chevron-left fa-2x"></i></span>Privious</button>
                <button type="button" class="next-btn ">Next <span class="right-arrow"><i
                            class="fas fa-chevron-right fa-2x"></i></span></button>
            </div>

            <div class="expression p-2 pt-3 px-4">
                <h1>AngularJS Tables</h1>
                <p>
                    The ng-repeat directive is perfect for displaying tables.
                </p>
            </div>
            <hr>
            <div class="expression p-2 pt-3 px-4">
                <h2>Displaying Data in a Table</h2>
                <p>
                    Displaying tables with angular is very simple
                </p>

            </div>
            <hr>
            <div class="expression p-2 pt-3 px-4">
                <h2>Displaying with CSS Style</h2>
                <p>
                    To make it nice, add some CSS to the page.
                </p>

            </div>
            <hr>
            <div class="expression p-2 pt-3 px-4">
                <h2>Display with orderBy Filter</h2>
                <p>
                    To sort the table, add an <strong>orderBy</strong> filter.
                </p>

            </div>
            <hr>
            <div class="expression p-2 pt-3 px-4">
                <h2>Display with uppercase Filter</h2>
                <p>
                    To display uppercase, add an <strong>uppercase</strong> filter
                </p>

            </div>
            <hr>
            <div class="expression p-2 pt-3 px-4">
                <h2>Display the Table Index ($index)</h2>
                <p>
                    To display the table index, add a <span class="red-text">&lt;td&gt;</span> with <strong>$index.</strong> 
                </p>

            </div>
            <hr>
            <div class="expression p-2 pt-3 px-4">
                <h2>Using $even and $odd</h2>
               

            </div>
        </div>
    </div>
</div>
