<div class="wrapper">
    <div class="main-container">
        <app-sidebar></app-sidebar>
        <!-- <app-sidebar *ngIf="blankUrl || !isCheckoutRoute()"></app-sidebar> -->
        <div class="content mb-5 p-4">
            <div class="home-next d-flex align-items-end flex-column p-3">
                <!-- <button type="button" class="home-btn"> <span class="left-arrow"><i
                            class="fas fa-chevron-left fa-2x"></i></span>Home</button> -->
                <button type="button" class="next-btn ">Next <span class="right-arrow"><i
                            class="fas fa-chevron-right fa-2x"></i></span></button>
            </div>
            <h1 class="p-3" id="introduction">HTML Tutorial</h1>
           
            <div class="defintion-tutorial mt-2 p-4">
                <p class="hint">HTML is the standard markup language for Web pages.</p>
                <p class="hint">With HTML you can create your own Website.</p>
                <p class="hint">HTML is easy to learn - You will enjoy it!</p>

                <div class="study">
                    <button type="button" class="home-btn">
                        Study Our Free HTML Tutorial
                        <span class="right-arrow"><i class="fas fa-chevron-right fa-2x"></i></span>
                    </button>
                    <div class="video-tutorial-btn pt-5">
                        <button type="button" class="home-btn video-btn">
                            Watch Our Video Tutorial
                            <span class="right-arrow"><i class="fas fa-chevron-right fa-2x"></i></span>
                            <span class="new-txt">New</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="easy-learning p-4 mt-5">
                <h2>Easy Learning with HTML "Try it Yourself"</h2>
                <p class="example-txt">With our "Try it Yourself" editor, you can edit the HTML code and view the result:</p>
                <div class="example-editor bg-light">
                    <h2 class="p-3 pb-0">Example</h2>
                    <div class="code-section mx-4 p-3 mb-4 mt-3">
                        <p>
                            Abc
                            defg
                            hijk
                            lmno
                            pqrs
                            tuvw
                            xyz
                        </p>
                    </div>
                    <div class="try-yourself px-4  pb-4">
                        <button type="button" class="home-btn"> Try it yourself <span class="right-arrow"><i
                            class="fas fa-chevron-right fa-2x"></i></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- 
  <footer class="footer">
   
  </footer>
   -->