<aside class="sidebar">
    <div class="wrapper">
        <div class="main-container">
            <div class="sidebar">
                <h2>HTML Tutorial</h2>
                <div class="sidebar-content ">
                    <ul>
                        <li><a [routerLink]="['/html/html-tutorial']">HTML Tutorial</a></li>
                        <li><a [routerLink]="['/html/html-intro']">HTML Introduction</a></li>
                        <li><a [routerLink]="['/html/html-editors']">HTML Editors</a></li>
                        <li><a [routerLink]="['/html/html-elements']">HTML Elements</a></li>
                       
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- <div id="mySidenav" class="sidenav">
        <a routerLink="/html/html-tutorial">HTML Tutorial</a>
        <a routerLink="/html/html-intro">HTML Introduction</a>
        <a routerLink="/payment/others">HTML Structure</a>
        <a>HTML Elements</a>
      </div> -->
</aside>