


<div class="container">
<div class="card" style="text-align: center;">
  <div class="card-header">
     <h3>HTML Headings</h3>
  </div>
  <div class="card-body" style="border-radius: 10px solid red;">
    <h5 class="card-title"> </h5>

 <div class="container-fluid" >

     <h6>What is Headings in HTML?</h6>

<p>Headings in HTML (H1-H6) are used to define the hierarchical structure and organization of content on a web page.
    The H1 element is used for the main heading of the page, while H2, H3, H4, H5, and H6 are used for subheadings.</p>
</div> 
</div>

<div class="card-footer text-muted">

  <div class="row">
    <div class="col-sm-12 col-lg-6">
       <span class="tagcolor " style="color:brown">
        
       <span style="color:mediumblue"><</span>
       !DOCTYPE
      <span>html</span>
      <span style="color:mediumblue">></span>
       </span><br>
       <span class="tagcolor " style="color:brown">
       <span style="color:mediumblue"><</span>
      <span>html</span>
      <span style="color:mediumblue">></span>
       </span><br>
       <span class="tagcolor " style="color:brown">
          <span style="color:mediumblue"><</span>
         <span>head</span>
         <span style="color:mediumblue">></span>
          </span><br>
          <span class="tagcolor " style="color:brown">
             <span style="color:mediumblue"><</span>
            <span>title</span>
    <span style="color:mediumblue">></span>
    <span>TechEng</span>
    <span style="color:mediumblue"><</span>
    <span>/title</span>
<span style="color:mediumblue">></span>
             </span><br>
            
            
                <span class="tagcolor " style="color:brown">
                   <span style="color:mediumblue"><</span>
                  <span>/head</span>
                  <span style="color:mediumblue">></span>
                   </span><br>
      <span class="tagcolor" style="color:brown">
       <span  style="color:brown"><</span>body
       <span style="color:mediumblue">></span>
       </span><br>
       <span class="tagcolor" style="color:brown">
       <span style="color:mediumblue"><</span>
       <span>h1></span>
      <span>This is Headings 1.</span>
      <span style="color:mediumblue"><</span>
      <span>/h1></span>
      </span><br>

      <span class="tagcolor" style="color:brown">
        <span style="color:mediumblue"><</span>
        <span>h2></span>
       <span>This is Headings 2.</span>
       <span style="color:mediumblue"><</span>
       <span>/h2></span>
       </span><br>

       <span class="tagcolor" style="color:brown">
        <span style="color:mediumblue"><</span>
        <span>h3></span>
       <span>This is Headings 3.</span>
       <span style="color:mediumblue"><</span>
       <span>/h3></span>
       </span><br>

       <span class="tagcolor" style="color:brown">
        <span style="color:mediumblue"><</span>
        <span>h4></span>
       <span>This is Headings 4.</span>
       <span style="color:mediumblue"><</span>
       <span>/h4></span>
       </span><br>
       <span class="tagcolor" style="color:brown">
        <span style="color:mediumblue"><</span>
        <span>h5></span>
       <span>This is Headings 5.</span>
       <span style="color:mediumblue"><</span>
       <span>/h5></span>
       </span><br>

       <span class="tagcolor" style="color:brown">
        <span style="color:mediumblue"><</span>
        <span>h6></span>
       <span>This is Headings 2.</span>
       <span style="color:mediumblue"><</span>
       <span>/h6></span>
       </span><br>
      
      <span class="tagcolor" style="color:brown">
      <span style="color:mediumblue"><</span>/body
      <span style="color:mediumblue">></span>
      </span><br>
      <span class="tagcolor" style="color:brown">
      <span style="color:mediumblue"><</span>/html
      <span style="color:mediumblue">></span>
      </span><br> 
    </div>
    
    <hr>
    <div class="row">
     <div class="col-sm-12 col-lg-6">
      <button class="bt" (click)="displayHtmlContent()">Try YourSelf</button>
        <iframe width="100%" id="html-iframe" height="100%"></iframe>
     </div>
  <div class="col-sm-12 col-lg-6">
   <iframe class="video" width="530" height="315" src="https://www.youtube.com/embed/P4lKKpAC4lg" title="YouTube video player" alt="Tech Engineer,html,CSS,html online traning,react traning ,angular traning in kharar,kharar, kharar best traning center,web development traning kharar,web design traning, digital marketing, mobile app development,traning,software developer.IT carrer " frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
  </div>

 </div>

  
</div>
</div>
</div>