<div class="container">
    <h2 class="text-center pt-3">Certifications</h2>
    <p class="about-certification">Accelerate your learning journey with our exclusive online certification programs. The comprehensive collection
        is the curation of high-quality courses into bundles, offering in-depth knowledge and hands-on practice in prime
        technologies of the industry.
    </p>
    <div class="row">
        <div class="course pt-2 col-lg-3 col-md-6 col-sm-12">
            <div class="certificate-ro ">
                <div class="course-image">
                    <img src="./assets/images/code1.jpg">
                </div>
                <div class="course-title">
                    <h4 class="course-heading">HTML certification</h4>
                    <p>9 Courses <span class="course-price"><b>&#8377;200</b></span></p>
                    <button class="take-test-btn" type="button">Take Test</button>
                </div>
            </div>
        </div>
        <div class="course  pt-2 col-lg-3 col-md-6 col-sm-12">
            <div class="certificate-ro ">
                <div class="course-image">
                    <img src="./assets/images/code2.png">
                </div>
                <div class="course-title">
                    <h4 class="course-heading">CSS certification</h4>
                    <p>9 Courses <span class="course-price"><b>&#8377;200</b></span></p>
                    <button class="take-test-btn" type="button">Take Test</button>
                </div>
            </div>
        </div>
        <div class="course  pt-2 col-lg-3 col-md-6 col-sm-12">
            <div class="certificate-ro ">
                <div class="course-image">
                    <img src="./assets/images/code.png">
                </div>
                <div class="course-title">
                    <h4 class="course-heading">Javascript certification</h4>
                    <p>9 Courses <span class="course-price"><b>&#8377;200</b></span></p>
                    <button class="take-test-btn" type="button">Take Test</button>
                </div>
            </div>
        </div>
        <div class="course  pt-2 col-lg-3 col-md-6 col-sm-12">
            <div class="certificate-ro ">
                <div class="course-image">
                    <img src="./assets/images/cen.jpg">
                </div>
                <div class="course-title">
                    <h4 class="course-heading">PHP certification</h4>
                    <p>9 Courses <span class="course-price"><b>&#8377;200</b></span></p>
                    <button class="take-test-btn" type="button">Take Test</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="course  pt-2 col-lg-3 col-md-6 col-sm-12">
            <div class="certificate-ro ">
                <div class="course-image">
                    <img src="./assets/images/cen1.jpg">
                </div>
                <div class="course-title">
                    <h4 class="course-heading">Python certification</h4>
                    <p>9 Courses <span class="course-price"><b>&#8377;200</b></span></p>
                    <button class="take-test-btn" type="button">Take Test</button>
                </div>
            </div>
        </div>
        <div class="course  pt-2 col-lg-3 col-md-6 col-sm-12">
            <div class="certificate-ro ">
                <div class="course-image">
                    <img src="./assets/images/angular.jpg">
                </div>
                <div class="course-title">
                    <h4 class="course-heading">Angular certification</h4>
                    <p>9 Courses <span class="course-price"><b>&#8377;200</b></span></p>
                    <button class="take-test-btn" type="button">Take Test</button>
                </div>
            </div>
        </div>
        <div class="course  pt-2 col-lg-3 col-md-6 col-sm-12">
            <div class="certificate-ro ">
                <div class="course-image">
                    <img src="./assets/images/cen4.jpg">
                </div>
                <div class="course-title">
                    <h4 class="course-heading">Node js certification</h4>
                    <p>9 Courses <span class="course-price"><b>&#8377;200</b></span></p>
                    <button class="take-test-btn" type="button">Take Test</button>
                </div>
            </div>
        </div>
        <div class="course  pt-2 col-lg-3 col-md-6 col-sm-12">
            <div class="certificate-ro ">
                <div class="course-image">
                    <img src="./assets/images/cen3.jpg">
                </div>
                <div class="course-title">
                    <h4 class="course-heading">React js certification</h4>
                    <p>9 Courses <span class="course-price"><b>&#8377;200</b></span></p>
                    <button class="take-test-btn" type="button">Take Test</button>
                </div>
            </div>
        </div>
    </div>
    
</div>