<div class="container" style="text-align: center;">
<div class="first" >
    <div class="jumbotron">
        <h1 class="display-4">6 Months Industrial Training in Mohali</h1>
        <hr class="my-4">
        <p class="lead">6 Months Industrial Traning in Mohali</p>
        <p>At Tech Engineer, we provide the best six-month industrial training in Chandigarh for all engineering branches. After spending three and a half years in college, students primarily learn the theoretical part of their chosen field. However, practical knowledge is crucial for a successful career.

            Our six-month industrial training program gives students the opportunity to gain practical experience and learn what the industry expects from them. Through our 100% practical training on live projects, we help students develop essential skills that will enable them to succeed in their future careers.
            
            By completing our industrial training program, you can become a part of the best, top-reputed companies in India and around the world. Six months of practical training in Chandigarh can be a career-changing experience for you, and we are committed to providing you with the best training possible.
            </p>
            <!-- <p class="lead"></p><p class="lead">
                <a class="btn  btn-lg" href="#" role="button">Learn more</a>
              </p>
       -->

         <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
           Web Designing
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
               HTML:5<br>
                CSS<br>
                Bootstrap<br>
                Graphic Designing<br>
                Photoshop<br>
                JavaScript<br>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Programming Language
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Core Java<br>
              Advance Java<br>
              Android<br>
              Python<br>
              C language<br>
              C++<br>
              Angular Js<br>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Other Courses
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              
              SEO<br>
              Digital Marketing<br>
              Networking<br>
              Hardware and Networking<br>
              Software Testing<br>
              Graphic Designing<br>
               Onine Bidding Course<br>
            </div>
          </div>
        </div>
        </div>
        <br>


       
      

    </div>
</div>

<div class="pa" style=" border-style: solid;
border-color: rgb(226, 63, 63); border-radius: 50px;">
  <div class="col-md-12 p-4">
    <h5>Batches Available</h5>
   
      <p>Mon- Sat :  <strong style="color:rgb(226, 63, 63)">3 hours daily</strong></p>

      
      <p>Weekend Classes: <strong style="color:rgb(226, 63, 63)">Saturday and Sunday</strong></p>


<p>Fast Track Classes :<strong style="color:rgb(226, 63, 63)">6+ Hours daily</strong> </p>
<p>Online Classes : <strong style="color:rgb(226, 63, 63)">Mon to Sun,</strong></p>
    
  </div>
</div>
<div class="pa" style=" border-style: solid;
border-color: rgb(226, 63, 63); border-radius: 50px; margin-top: 20px;">
  <div class="col-md-12 p-4">
    <h5><u>Tech Engineer</u></h5>
    <strong><u>
       Certified Company<br>

      
      Tech Engineer<br>

      SCO 15, World 1 High Street Market, Sector 115, Sante Majra, Mohali (Punjab)<br>
      Call now: 8544884846</u></strong> 
    
  </div>
</div>
<br><br>
<div class="Test" style=" margin-top: 50px;padding-left: 8%;">
 <b>Why most of Engineers are unemployed?</b><br>

  In India, there are numerous job opportunities available in the IT sector, yet many engineers struggle to secure their desired jobs. Upon analysis, it was found that most engineers lack practical technical skills, despite excelling in theory. Many students who score above 80% lack even basic installation knowledge, which makes it difficult for them to secure high-paying jobs in a highly competitive market. Many engineers focus solely on textbooks and exams, neglecting practical knowledge. Therefore, Tech Engineer offers the best 6-week industrial training in Chandigarh with hands-on live projects, providing students with real-life client project experience. This training goes beyond projects and viva, offering practical experience that is crucial to excel in the IT industry.

</div> 
</div>