<div class="wrapper">
    <div class="main-container">
        <app-sidebar [sidebarData]="sidebar"></app-sidebar>
        <div class="content mb-5 p-4 ">
            <div class="home-next d-flex justify-content-between">
                <button type="button" class="home-btn"> <span class="left-arrow"><i
                            class="fas fa-chevron-left fa-2x"></i></span>Privious</button>
                <button type="button" class="next-btn ">Next <span class="right-arrow"><i
                            class="fas fa-chevron-right fa-2x"></i></span></button>
            </div>

            <div class="expression p-2 pt-3 px-4">
                <h1>AngularJS Expressions</h1>
                <p>
                    AngularJS binds data to HTML using Expressions.
                </p>
            </div>
            <hr>
            <div class="expression p-2 pt-3 px-4">
                <h2>AngularJS Expressions</h2>
                <p>
                    AngularJS expressions can be written inside double braces: <span class="red-text">aadd</span>.
                </p>
                <p>
                    AngularJS expressions can also be written inside a directive: <span
                        class="red-text">ng-bind="expression"</span>.
                </p>
                <p>
                    AngularJS will resolve the expression, and return the result exactly where the expression is
                    written.
                </p>
                <p>
                    <strong>AngularJS expressions</strong>are much like <strong>JavaScript expressions:</strong> They
                    can contain literals, operators, and variables.
                </p>
            </div>

            <hr>
            <div class="expression p-2 pt-3 px-4">
                <h2>AngularJS Numbers</h2>
                <p>
                    AngularJS numbers are like JavaScript numbers.
                </p>

            </div>
            <div class="note p-4">
                <p>
                    Using <span class="red-text">ng-init</span> is not very common. You will learn a better way to
                    initialize data in the chapter about controllers.
                </p>
            </div>
            <hr>
            <div class="expression p-2 pt-3 px-4">
                <h2>AngularJS Strings</h2>
                <p>
                    AngularJS strings are like JavaScript strings.
                </p>

            </div>
            <hr>
            <div class="expression p-2 pt-3 px-4">
                <h2>AngularJS Objects</h2>
                <p>
                    AngularJS objects are like JavaScript objects.
                </p>

            </div>
            <hr>
            <div class="expression p-2 pt-3 px-4">
                <h2>AngularJS Arrays</h2>
                <p>
                    AngularJS arrays are like JavaScript arrays.
                </p>

            </div>
            <hr>
            <div class="expression p-2 pt-3 px-4">
                <h2>AngularJS Expressions vs. JavaScript Expressions  </h2>
                <p>
                    Like JavaScript expressions, AngularJS expressions can contain literals, operators, and variables.
                </p>
                <p>
                    Unlike JavaScript expressions, AngularJS expressions can be written inside HTML.
                </p>
                <p>
                    AngularJS expressions do not support conditionals, loops, and exceptions, while JavaScript
                    expressions do.
                </p>
                <p>
                    AngularJS expressions support filters, while JavaScript expressions do not.
                </p>
                <p>
                    Learn about JavaScript in our JavaScript Tutorial.
                </p>
            </div>
        </div>
    </div>
</div>