<div class="main-background-banner">
    <div class="overlay-color">
        <div class="heading m-auto text-center text-white">
            <h1 id="Home" class="hd1">
                <b><span class="welcome">Welcome</span>
                    <span class="tomato">To </span>
                    <span>Codebank</span>
                </b>
            </h1>
            <a href="https://www.youtube.com/watch?v=YDb4GQ55pCc" class="pulse">
                <div class="play-button-icon">
                    <i class="fa fa-play "></i>
                </div>
            </a>
            <div class="bottom-line"></div>
            <a href="https://www.youtube.com/watch?v=_fDSmwiEwtw" class="play-btn"></a>
        </div>
    </div>
</div>
