<div class="wrapper">
    <div class="main-container">
        <app-sidebar [sidebarData]="sidebar"></app-sidebar>
        <div class="content mb-5 p-4">
            <div class="home-next d-flex justify-content-between p-3">
                <button type="button" class="home-btn" [routerLink]="['../html-lists']"> <span class="left-arrow"><i
                            class="fas fa-chevron-left fa-2x"></i></span>Privious</button>
                <button type="button" class="next-btn " [routerLink]="['../html-div']">Next <span class="right-arrow"><i
                            class="fas fa-chevron-right fa-2x"></i></span></button>
            </div>
            <h1 class="p-3 pt-1" id="introduction">HTML Block and Inline Elements</h1>
            <div class="block px-4">
                <p>
                    Every HTML element has a default display value, depending on what type of element it is.
                </p>
                <p>
                    The two most common display values are block and inline.
                </p>
            </div>
            <hr>
            <div class="quotations px-4">
                <h2>Block-level Elements</h2>
                <p>
                    A block-level element always starts on a new line, and the browsers automatically add some space (a
                    margin) before and after the element.
                </p>
                <p>
                    A block-level element always takes up the full width available (stretches out to the left and right
                    as far as it can).
                </p>
                <p>
                    Two commonly used block elements are: <span class="red-text">&lt;p&gt;</span> and <span
                        class="red-text">&lt;div&gt;</span>.
                </p>
                <p>
                    The <span class="red-text">&lt;p&gt;</span> element defines a paragraph in an HTML document.
                </p>
                <p>
                    The <span class="red-text">&lt;div&gt;</span> element defines a division or a section in an HTML
                    document.
                </p>

                <p class="elemenet">The &lt;p&gt; element is a block-level element.</p>
                <p>The &lt;div&gt; element is a block-level element.</p>
            </div>
            <hr>
            <div class="quotations px-4">
                <p>Here are the block-level elements in HTML:</p>
                <div class="main-tags d-flex justify-content-between">
                    <p>
                        <span class="red-text">&lt;address&gt;</span> <br>
                        <span class="red-text">&lt;article&gt;</span> <br>
                        <span class="red-text">&lt;aside&gt;</span><br>
                        <span class="red-text">&lt;blackquote&gt;</span> <br>
                        <span class="red-text">&lt;Canvas&gt;</span> <br>
                        <span class="red-text">&lt;dd&gt;</span> <br>
                    </p>
                    <p>
                        <span class="red-text">&lt;div&gt;</span> <br>
                        <span class="red-text">&lt;dl&gt;</span> <br>
                        <span class="red-text">&lt;dt&gt;</span> <br>
                        <span class="red-text">&lt;fieldset&gt;</span> <br>
                        <span class="red-text">&lt;figcaption&gt;</span> <br>
                        <span class="red-text">&lt;figure&gt;</span> <br>
                    </p>
                    <p>
                        <span class="red-text">&lt;footer&gt;</span> <br>
                        <span class="red-text">&lt;form&gt;</span> <br>
                        <span class="red-text">&lt;h1-h6&gt;</span> <br>
                        <span class="red-text">&lt;header&gt;</span> <br>
                        <span class="red-text">&lt;hr&gt;</span> <br>
                        <span class="red-text">&lt;li&gt;</span> <br>
                    </p>
                    <p>
                        <span class="red-text">&lt;main&gt;</span> <br>
                        <span class="red-text">&lt;nav&gt;</span> <br>
                        <span class="red-text">&lt;non-script&gt;</span> <br>
                        <span class="red-text">&lt;ol&gt;</span> <br>
                        <span class="red-text">&lt;p&gt;</span> <br>
                        <span class="red-text">&lt;pre&gt;</span> <br>
                    </p>
                    <p>
                        <span class="red-text">&lt;section&gt;</span> <br>
                        <span class="red-text">&lt;table&gt;</span> <br>
                        <span class="red-text">&lt;tfoot&gt;</span> <br>
                        <span class="red-text">&lt;ul&gt;</span> <br>
                        <span class="red-text">&lt;video&gt;</span> <br>

                    </p>
                </div>
            </div>
            <hr>
            <div class="quotations px-4">
                <h2>Inline Elements</h2>
                <p>An inline element does not start on a new line.</p>
                <p>An inline element only takes up as much width as necessary.</p>
                <p>This is a &lt;span&gt; element inside a paragraph.</p>
            </div>
            <hr>
            <div class="quotations px-4">
                <p>Here are the inline elements in HTML:</p>
                <div class="main-tags d-flex justify-content-between">
                    <p>
                        <span class="red-text">&lt;a&gt;</span> <br>
                        <span class="red-text">&lt;abbr&gt;</span> <br>
                        <span class="red-text">&lt;acronym&gt;</span><br>
                        <span class="red-text">&lt;b&gt;</span> <br>
                        <span class="red-text">&lt;bdo&gt;</span> <br>
                        <span class="red-text">&lt;big&gt;</span> <br>
                        <span class="red-text">&lt;sup&gt;</span> <br>
                    </p>
                    <p>
                        <span class="red-text">&lt;br&gt;</span> <br>
                        <span class="red-text">&lt;button&gt;</span> <br>
                        <span class="red-text">&lt;cite&gt;</span> <br>
                        <span class="red-text">&lt;code&gt;</span> <br>
                        <span class="red-text">&lt;dfn&gt;</span> <br>
                        <span class="red-text">&lt;em&gt;</span> <br>
                        <span class="red-text">&lt;textarea&gt;</span> <br>
                    </p>
                    <p>
                        <span class="red-text">&lt;footer&gt;</span> <br>
                        <span class="red-text">&lt;form&gt;</span> <br>
                        <span class="red-text">&lt;h1-h6&gt;</span> <br>
                        <span class="red-text">&lt;header&gt;</span> <br>
                        <span class="red-text">&lt;hr&gt;</span> <br>
                        <span class="red-text">&lt;li&gt;</span> <br>
                        <span class="red-text">&lt;time&gt;</span> <br>
                    </p>
                    <p>
                        <span class="red-text">&lt;i&gt;</span> <br>
                        <span class="red-text">&lt;img&gt;</span> <br>
                        <span class="red-text">&lt;input&gt;</span> <br>
                        <span class="red-text">&lt;kbd&gt;</span> <br>
                        <span class="red-text">&lt;label&gt;</span> <br>
                        <span class="red-text">&lt;map&gt;</span> <br>
                        <span class="red-text">&lt;tt&gt;</span> <br>
                    </p>
                    <p>
                        <span class="red-text">&lt;object&gt;</span> <br>
                        <span class="red-text">&lt;output&gt;</span> <br>
                        <span class="red-text">&lt;q&gt;</span> <br>
                        <span class="red-text">&lt;samp&gt;</span> <br>
                        <span class="red-text">&lt;script&gt;</span> <br>
                        <span class="red-text">&lt;var&gt;</span> <br>

                    </p>
                    <p>
                        <span class="red-text">&lt;select&gt;</span> <br>
                        <span class="red-text">&lt;small&gt;</span> <br>
                        <span class="red-text">&lt;sman&gt;</span> <br>
                        <span class="red-text">&lt;strong&gt;</span> <br>
                        <span class="red-text">&lt;sub&gt;</span> <br>

                    </p>
                </div>
            </div>
            <hr>
            <div class="quotations px-4">
                <h2>The &lt;div&gt; Element</h2>
                <p>The <span class="red-text">&lt;div&gt;</span> element is often used as a container for other HTML
                    elements.
                </p>
                <p>
                    The <span class="red-text">&lt;div&gt;</span> element has no required attributes, but 
                    <span class="red-text">style</span> , <span class="red-text">class</span> and <span
                        class="red-text">id</span> are common.
                </p>
                <p>
                    When used together with CSS, the <span class="red-text">&lt;div&gt;</span> element can be used to
                    style blocks of content.
                </p>
                <p>You will learn more about the <span class="red-text">&lt;div&gt;</span> element in the next chapter.
                </p>
            </div>
            <hr>
            <div class="quotations px-4">
                <h2>The &lt;span&gt; Element</h2>
                <p>
                    The <span class="red-text">&lt;span&gt;</span> element is an inline container used to mark up a part
                    of a text, or a part of a document.
                </p>
                <p>
                    The <span class="red-text">&lt;span&gt;</span> element has no required attributes, but  <span class="red-text">style</span> , <span class="red-text">class</span> and <span
                    class="red-text">id</span> are common.
                </p>
                <p>
                    When used together with CSS, the <span class="red-text">&lt;span&gt;</span> element can be used to style parts of the text
                </p>
            </div>
            <hr>
            <div class="quotations px-4">
                <h2>HTML Tags</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Tag</th>
                            <th>Description</th>
                        </tr> 
                    </thead>
                    <tbody>
                        <tr>
                            <td>&lt;div&gt;</td>
                            <td>Defines a section in a document (block-level)</td>
                        </tr>
                        <tr>
                            <td>&lt;span&gt;</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
           <hr>
           <div class="example-editor bg-light p-4 pt-1">
            <h2 class="p-3 pb-0">Example</h2>
            <div class="code-section mx-4 p-3  mt-3">
                <textarea #codeEditor></textarea>
            </div>
            <div class="output-frame w-100 p-3 mx-3">
                <div #outputContainer></div>
            </div>
            <div class="try-yourself px-4  pb-4">
                <button type="button" class="home-btn" (click)="runCode()">
                    Try it yourself
                    <span class="right-arrow">
                        <i class="fas fa-chevron-right fa-2x"></i>
                    </span>
                </button>
            </div>
        </div>
        </div>
    </div>
</div>