<div class="wrapper">
    <div class="main-container">
        <app-sidebar [sidebarData]="sidebar"></app-sidebar>
        <div class="content mb-5 p-4">
            <div class="home-next d-flex justify-content-between p-3">
                <button type="button" class="home-btn"> <span class="left-arrow"><i
                            class="fas fa-chevron-left fa-2x"></i></span>Privious</button>
                <button type="button" class="next-btn ">Next <span class="right-arrow"><i
                            class="fas fa-chevron-right fa-2x"></i></span></button>
            </div>

            <div class="garbage p-2 pt-0 ">
                <h1>C# Data Types</h1>
                <p>
                    A variable in .net core must be a specified data type:
                </p>
            </div>
            <div class="note p-3 mt-3">
                <pre>
                    int myNum = 5;               // Integer (whole number)
                    double myDoubleNum = 5.99D;  // Floating point number
                    char myLetter = 'D';         // Character
                    bool myBool = true;          // Boolean
                    string myText = "Hello";     // String
                </pre>
            </div>
            <div class="easy-learning p-4 mt-5">
                <h2>Easy Learning with Video Tutorial</h2>
                <p class="example-txt">With our video tutorial you can easily learn html:</p>
                <div class="example-editor text-center">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/-7qGNHsMR3M?si=OTBOgQh0VUDB5P3o"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>