

<aside class="sidebar fixed-sidebar">
    <div class="wrapper">
        <div class="main-container">
            <div class="sidebar">
                <h2>{{sidebarList?.title}}</h2>
                <div class="sidebar-content">
                    <ul>
                        <li *ngFor="let item of sidebarList?.sidebarData">
                            <a  [routerLink]="[item.link]">{{ item.text }}</a>

                            <ul *ngIf="item.subtopics && item.subtopics.length > 0">
                                <li *ngFor="let subtopic of item.subtopics">
                                  <a [routerLink]="subtopic.link">{{ subtopic.text }}</a>
                                </li>
                              </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</aside>