
<div class="container">
  <div class="card" style="text-align: center;">
   <div class="card-header">
      <h3>HTML Style</h3>
   </div>
   <div class="card-body" style="border-radius: 10px solid red;">
     <h5 class="card-title"> </h5>

  <div class="container-fluid" >
   <h5>What is Style?</h5>

   HTML Styles refer to the use of CSS (Cascading Style Sheets) to define the visual appearance and layout of HTML elements on a web page. CSS can be used to set attributes such as font size, color, background color, border, margin, padding, and more, to create visually appealing and consistent designs across a website.
   <br>
   <br>
   
      <h5>Why we use Style ?</h5>

      We use HTML Styles (CSS) for several reasons:
     <br>
      
     1. Separation of Concerns: CSS allows us to separate the presentation layer from the content layer of a web page. This means that we can define the look and feel of our website in a separate file, making it easier to maintain and update the design.
     <br>
     2. Consistency: CSS allows us to define styles for different HTML elements, ensuring consistency in the design across the website. This helps to create a cohesive and professional-looking website.
      <br>
     3. Flexibility: CSS gives us the flexibility to create complex layouts and designs. It provides a wide range of styling options that can be applied to different elements, such as fonts, colors, backgrounds, borders, and more.
      <br>
      4. Accessibility: CSS can also be used to improve accessibility on the website. By using CSS to define the structure and layout of the content, we can ensure that it is accessible to users with different abilities and devices.
      <br>
      5. Efficiency: By using CSS, we can reduce the amount of code needed to create a website. This can make the website faster to load and easier to maintain, which is beneficial for both developers and users.
      <br>
   </div> 
   </div>
  

   <div class="card-footer text-muted">
    <div class="row"> 
      <div class="col-sm-12 col-lg-12 " > 

<!-- <textarea id="hp">  
<!DOCTYPE html>
   <html>
      <head>
         <title>TechEngineer</title>
      </head>
      <body>
         <h1>This is H1 Tag</h1>
         <p>This is p Tag</p>
      </body>
  </html>
</textarea> -->
</div>
      
      <hr>
      <div class="row">
       <div class="col-sm-12 col-lg-6">
         <div class="row">
            <div class="col-sm-3 col-lg-6">
            <!-- <button id="bt"   (click)="displayHtmlContent()">Try YourSelf</button> -->
          </div></div>
          <!-- <iframe width="100%" id="html-iframe" height="50%"></iframe> -->
       </div>
    <div class="col-sm-12 col-lg-6">
       <!-- <iframe class="video" width="530" height="315" src="https://www.youtube.com/embed/7haQGLPWrwo" title="YouTube video player" alt="Tech Engineer,html,CSS,html online traning,react traning ,angular traning in kharar,kharar, kharar best traning center,web development traning kharar,web design traning, digital marketing, mobile app development,traning,software developer.IT carrer " frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
    </div>
    </div>
      
      

   </div>

   </div>
   
   </div>
 </div>

