<div class="wrapper">
    <div class="main-container">
        <app-sidebar [sidebarData]="sidebar"></app-sidebar>
        <div class="content mb-5 p-4 ">
            <div class="home-next d-flex justify-content-between">
                <button type="button" class="home-btn"> <span class="left-arrow"><i
                            class="fas fa-chevron-left fa-2x"></i></span>Privious</button>
                <button type="button" class="next-btn ">Next <span class="right-arrow"><i
                            class="fas fa-chevron-right fa-2x"></i></span></button>
            </div>

            <div class="expression p-2 pt-3 px-4">
                <h1>AngularJS HTML DOM</h1>
                <p>
                    AngularJS has directives for binding application data to the attributes of HTML DOM elements.
                </p>
            </div>
            <hr>
            <div class="expression p-2 pt-3 px-4">
                <h2>The ng-disabled Directive</h2>
                <p>
                    The <strong>ng-disabled</strong> directive binds AngularJS application data to the disabled
                    attribute of HTML elements.
                </p>

            </div>
            <hr>
            <div class="expression p-2 pt-3 px-4">
                <h2>The ng-show Directive</h2>
                <p>
                    The <strong>ng-show</strong> directive shows or hides an HTML element.
                </p>
                <p>
                    The ng-show directive shows (or hides) an HTML element based on the <strong>value</strong> of
                    ng-show.
                </p>
                <p>
                    You can use any expression that evaluates to true or false

                </p>
            </div>

            <hr>
            <div class="expression p-2 pt-3 px-4">
                <h2>The ng-hide Directive</h2>
                <p>
                    The <strong>ng-hide</strong> directive hides or shows an HTML element.
                </p>
            </div>
        </div>
    </div>
</div>