<form (ngSubmit)="onSubmit()" [formGroup]="signForm">
    <input type="text" placeholder="Enter Name" formControlName="name">
    <div *ngIf="signForm.controls['name'].invalid && (signForm.controls['name'].dirty || signForm.controls['name'].touched)"
        class="alert alert-danger" required>
        <span *ngIf="signForm.controls['name'].hasError('required')">
            Name is required.
        </span>
    </div>
    <br>
    <br>
    <input type="text" placeholder="Enter Email" formControlName="email">
    <div *ngIf="signForm.controls['email'].invalid && (signForm.controls['email'].dirty || signForm.controls['email'].touched)"
        class="alert alert-danger" required>
        <span *ngIf="signForm.controls['email'].hasError('required')">
            Email is required.
        </span>
        <span *ngIf="signForm.controls['email'].hasError('pattern')">
            Email format is not valid.
        </span>
    </div>
    <br>
    <br>
    <input type="password" placeholder="Password" formControlName="password">
    <div *ngIf="signForm.controls['password'].invalid && (signForm.controls['password'].dirty || signForm.controls['password'].touched)"
        class="alert alert-danger" required>
        <span *ngIf="signForm.controls['password'].hasError('required')">
            Password is required.
        </span>
        <span *ngIf="signForm.controls['password'].hasError('minlength')">
            Password must be at least 6 characters long.
        </span>
    </div>
    <br>
    <br>
    <button type="submit">Submit</button>
    &nbsp;&nbsp;
    <button type="button" [routerLink]="['/login']">Login</button>
</form>