<div class="wrapper">
    <div class="main-container">
        <app-sidebar [sidebarData]="sidebar"></app-sidebar>
        <div class="content mb-5 p-4">
            <div class="home-next d-flex justify-content-between p-3">
                <button type="button" class="home-btn" [routerLink]="['../html-javascript']"> <span class="left-arrow"><i
                            class="fas fa-chevron-left fa-2x"></i></span>Privious</button>
                <button type="button" class="next-btn" [routerLink]="['../html-head']">Next <span class="right-arrow"><i
                            class="fas fa-chevron-right fa-2x"></i></span></button>
            </div>
            <h1 class="p-3 pt-1" id="introduction">HTML File Paths</h1>
            <div class="quotations px-4">
                <p>
                    A file path describes the location of a file in a web site's folder structure.
                </p>
            </div>
            <hr>
            <div class="quotations px-4">
                <h2>File Path Examples</h2>
                <table>
                    <thead>
                        <th>Path</th>
                        <th>Description</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>&lt;img src="picture.jpg"&gt;</td>
                            <td>The "picture.jpg" file is located in the same folder as the current page</td>
                        </tr>
                        <tr>
                            <td>&lt;img src="images/picture.jpg"&gt;</td>
                            <td>The "picture.jpg" file is located in the images folder in the current folder</td>
                        </tr>
                        <tr>
                            <td>&lt;img src="/images/picture.jpg"&gt;</td>
                            <td>The "picture.jpg" file is located in the images folder at the root of the current web
                            </td>
                        </tr>
                        <tr>
                            <td>&lt;img src="../picture.jpg"&gt;</td>
                            <td>The "picture.jpg" file is located in the folder one level up from the current folder
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr>
            <div class="quotations px-4">
                <h2>HTML File Path</h2>
                <p>
                    A file path describes the location of a file in a web site's folder structure.
                </p>
                <p>
                    File paths are used when linking to external files, like:
                </p>
                <ul>
                    <li>Web Pages</li>
                    <li>Images</li>
                    <li>Style Sheets</li>
                    <li>Javascripts</li>
                </ul>
            </div>
            <hr>
            <div class="quotations px-4">
                <h2>Absolute File Paths</h2>
                <p>
                    An absolute file path is the full URL to a file.
                </p>
                <div class="note p-3 mt-3">
                    <p>
                        <span class="red-text">
                            &lt;img src="https://www.w3schools.com/images/picture.jpg" alt="Mountain"&gt;
                        </span>
                    </p>
                </div>
            </div>
            <hr>
            <div class="quotations px-4">
                <h2>Relative File Paths</h2>
                <p>
                    A relative file path points to a file relative to the current page.
                </p>
                <p>
                    The file path points to a file in the images folder located at the root of the current web.
                </p>
                <div class="note p-3 mt-3">
                    <p>
                        <span class="red-text">
                            &lt;img src="/images/picture.jpg" alt="Mountain"&gt;
                        </span>
                    </p>
                </div>
            </div>
            <hr>
            <div class="quotations px-4">
                <h2>Best Practice</h2>
                <p>
                    It is best practice to use relative file paths (if possible).
                </p>
                <p>
                    When using relative file paths, your web pages will not be bound to your current base URL. All links
                    will work on your own computer (localhost) as well as on your current public domain and your future
                    public domains.
                </p>
            </div>
        </div>
    </div>
</div>