<div class="wrapper">
    <div class="main-container">
        <app-sidebar [sidebarData]="sidebar"></app-sidebar>
        <div class="content mb-5 p-4 ">
            <div class="home-next d-flex justify-content-end p-3">
                <!-- <button type="button" class="home-btn"> <span class="left-arrow"><i
                            class="fas fa-chevron-left fa-2x"></i></span>Privious</button> -->
                <button type="button" class="next-btn ">Next <span class="right-arrow"><i
                            class="fas fa-chevron-right fa-2x"></i></span></button>
            </div>

            <div class="angular p-2 pt-0 px-4">
                <h1>AngularJS Tutorial</h1>
                <p>
                    AngularJS extends HTML with new attributes.
                </p>
                <p>
                    AngularJS is perfect for Single Page Applications (SPAs).
                </p>
                <p>
                    AngularJS is easy to learn.
                </p>
            </div>
            <hr>
            <div class="angular p-2 pt-0 px-4">
                <h2>This Tutorial</h2>
                <p>
                    This tutorial is specially designed to help you learn AngularJS as quickly and efficiently as
                    possible.
                </p>
                <p>
                    First, you will learn the basics of AngularJS: directives, expressions, filters, modules, and
                    controllers.
                </p>
                <p>
                    Then you will learn everything else you need to know about AngularJS:
                </p>
                <p>
                    Events, DOM, Forms, Input, Validation, Http, and more.
                </p>
            </div>
            <hr>
            <div class="angular p-2 pt-0 px-4">
                <h2>Try it Yourself Examples in Every Chapter</h2>
                <p>
                    In every chapter, you can edit the examples online, and click on a button to view the result.
                </p>
            </div>
            <hr>
            <div class="angular p-2 pt-0 px-4">
                <h2>What You Should Already Know</h2>
                <p>
                    Before you study AngularJS, you should have a basic understanding of:
                </p>
                <ul>
                    <li>
                        html
                    </li>
                    <li>
                        css
                    </li>
                    <li>
                        javascript
                    </li>
                </ul>
            </div>
            <hr>

            <div class="angular p-2 pt-0 px-4">
                <h2>AngularJS History</h2>
                <p>
                    AngularJS version 1.0 was released in 2012.
                </p>
                <p>
                    Miško Hevery, a Google employee, started to work with AngularJS in 2009.
                </p>
                <p>
                    The idea turned out very well, and the project is now officially supported by Google.
                </p>
            </div>
            <hr>
            <div class="angular p-2 pt-0 px-4">
                <h2>AngularJS Examples</h2>
                <p>
                    CodeBank AngularJS tutorial contains lots of AngularJS examples!
                </p>
            </div>
            <div class="code-section mx-4 p-3 mb-4 mt-3" id="html-content">
                <div class="code-section mx-4 p-3 mb-4 mt-3">
                    <textarea #codeEditor [(ngModel)]="defaultHtml"></textarea>
                </div>
                <div class="output-frame w-100 p-3 mx-3">
                    <div #outputContainer></div>
                </div>
            </div>

            <div class="try-yourself px-4 pb-4">
                <button type="button" class="home-btn" (click)="runCode()">
                    Try it yourself
                    <span class="right-arrow">
                        <i class="fas fa-chevron-right fa-2x"></i>
                    </span>
                </button>
            </div>
            <div class="easy-learning p-4 mt-5">
                <h2>Easy Learning with Video Tutorial</h2>
                <p class="example-txt">With our video tutorial you can easily learn html:</p>
                <div class="example-editor text-center">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/JJ9rC74EwKQ?si=3gRoe23ilEIkW4Wn"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>