<div class="wrapper">
    <div class="main-container">
        <app-sidebar [sidebarData]="sidebar"></app-sidebar>
        <div class="content mb-5 p-4">
            <div class="home-next d-flex justify-content-between p-3">
                <button type="button" class="home-btn" [routerLink]="['../html-url-encode']"> <span class="left-arrow"><i
                            class="fas fa-chevron-left fa-2x"></i></span>Privious</button>
                <button type="button" class="next-btn " [routerLink]="['../html-forms']">Next <span
                        class="right-arrow"><i class="fas fa-chevron-right fa-2x"></i></span></button>
            </div>
            <h1 class="p-3 pt-1" id="introduction">HTML Versus XHTML</h1>
            <div class="quotations px-4">
                <p>
                    XHTML is a stricter, more XML-based version of HTML.
                </p>
            </div>
            <hr>
            <div class="quotations px-4">
                <h2>What is XHTML?</h2>
                <ul>
                    <li>XHTML stands for E<strong>X</strong>tensible <strong>H</strong>yper<strong>T</strong>ext
                        <strong>M</strong>arkup <Strong>L</Strong>anguage
                    </li>
                    <li>
                        XHTML is a stricter, more XML-based version of HTML
                    </li>
                    <li>
                        XHTML is HTML defined as an XML application
                    </li>
                    <li>
                        XHTML is supported by all major browsers
                    </li>
                </ul>
            </div>
            <hr>
            <div class="quotations px-4">
                <h2>Why XHTML?</h2>
                <p>
                    XML is a markup language where all documents must be marked up correctly (be "well-formed").
                </p>
                <p>
                    XHTML was developed to make HTML more extensible and flexible to work with other data formats (such
                    as XML). In addition, browsers ignore errors in HTML pages, and try to display the website even if
                    it has some errors in the markup. So XHTML comes with a much stricter error handling.
                </p>
                <p>

                </p>
            </div>
            <hr>
            <div class="quotations px-4">
                <h2>The Most Important Differences from HTML</h2>
                <ul>
                    <li>&lt;!DOCTYPE&gt; is mandatory</li>
                    <li>The xmlns attribute in &lt;html&gt; is mandatory</li>
                    <li>&lt;html&gt;, &lt;head&gt;, &lt;title&gt;, and &lt;body&gt; are mandatory</li>
                    <li>Elements must always be <strong>properly nested</strong></li>
                    <li>Elements must always be <strong>closed</strong></li>
                    <li>Elements must always be in <strong>lowercase</strong></li>
                    <li>Attribute names must always be in <strong>lowercase</strong></li>
                    <li>Attribute values must always be <strong>quoted</strong></li>
                    <li>Attribute minimization is <strong>forbidden</strong></li>
                </ul>
            </div>
            <hr>
            <div class="quotations px-4">
                <h2>XHTML - &lt;!DOCTYPE ....&gt; Is Mandatory</h2>
                <p>
                    An XHTML document must have an XHTML &lt;!DOCTYPE&gt; declaration.
                </p>
                <p>
                    The &lt;html&gt;,

                    &lt;head&gt;, &lt;title&gt;, and

                    &lt;body&gt; elements must also be present, and the xmlns attribute in &lt;html&gt; must specify the
                    xml
                    namespace for the document.
                </p>
            </div>
            <hr>
            <div class="quotations px-4">
                <h2>XHTML Elements Must be Properly Nested</h2>
                <p>
                    In XHTML, elements must always be properly nested within each other.
                </p>
                <div class="note p-3 mt-3">
                    <h2>Correct</h2>
                    <p>
                        <span class="red-text">&lt;b&gt;&lt;i&gt;Some text&lt;/i&gt;&lt;/b&gt;</span>                  
                    </p>
                </div>
                <div class="note p-3 mt-3">
                    <h2>Wrong</h2>
                    <p>
                        <span class="red-text">&lt;b&gt;&lt;i&gt;Some text&lt;/b&gt;&lt;/i&gt;</span>
                    </p>
                </div>
            </div>
            <hr>
            <div class="quotations px-4">
                <h2>XHTML Elements Must Always be Closed</h2>
                <p>
                    In XHTML, elements must always be closed.
                </p>
            </div>
            <hr>
            <div class="quotations px-4">
                <h2>XHTML Empty Elements Must Always be Closed</h2>
                <p>
                    In XHTML, empty elements must always be closed.
                </p>
            </div>
            <hr>
            <div class="quotations px-4">
                <h2>XHTML Elements Must be in Lowercase</h2>
                <p>
                    In XHTML, element names must always be in lowercase.
                </p>
            </div>
            <hr>
            <div class="quotations px-4">
                <h2>XHTML Attribute Names Must be in Lowercase</h2>
                <p>
                    In XHTML, attribute names must always be in lowercase.
                </p>
            </div>
            <hr>
            <div class="quotations px-4">
                <h2>XHTML Attribute Values Must be Quoted</h2>
                <p>
                    In XHTML, attribute values must always be quoted.
                </p>
            </div>
            <hr>
            <div class="quotations px-4">
                <h2>XHTML Attribute Minimization is Forbidden</h2>
                <p>
                    In XHTML, attribute minimization is forbidden.
                </p>
            </div>
            <hr>
            <div class="example-editor bg-light p-4 pt-1">
                <h2 class="p-3 pb-0">Example</h2>
                <div class="code-section mx-4 p-3  mt-3">
                    <textarea #codeEditor></textarea>
                </div>
                <div class="output-frame w-100 p-3 mx-3">
                    <div #outputContainer></div>
                </div>
                <div class="try-yourself px-4  pb-4">
                    <button type="button" class="home-btn" (click)="runCode()">
                        Try it yourself
                        <span class="right-arrow">
                            <i class="fas fa-chevron-right fa-2x"></i>
                        </span>
                    </button>
                </div>
            </div>
      
        </div>
    </div>
</div>