<div class="wrapper">
    <div class="main-container">
        <app-sidebar [sidebarData]="sidebar"></app-sidebar>
        <div class="content mb-5 p-4">
            <div class="home-next d-flex justify-content-between p-3">
                <button type="button" class="home-btn" [routerLink]="['../html-computercode']"> <span class="left-arrow"><i
                            class="fas fa-chevron-left fa-2x"></i></span>Privious</button>
                <button type="button" class="next-btn " [routerLink]="['../html-style-guide']">Next <span class="right-arrow"><i
                            class="fas fa-chevron-right fa-2x"></i></span></button>
            </div>
            <h1 class="p-3 pt-1" id="introduction">HTML Semantic Elements</h1>
            <div class="quotations px-4">
                <p>
                    Semantic elements = elements with a meaning.
                </p>
            </div>
            <hr>
            <div class="quotations px-4">
                <h2>What are Semantic Elements?</h2>
                <p>
                    A semantic element clearly describes its meaning to both the browser and the developer.
                </p>
                <p>
                    Examples of <strong>non-semantic</strong> elements: <span class="red-text">&lt;div&gt;</span> and
                    <span class="red-text">&lt;span&gt; </span>-
                    Tells nothing about its content.
                </p>
                <p>
                    Examples of <strong>semantic</strong> elements: <span class="red-text">&lt;form&gt;</span> ,
                    <span class="red-text">&lt;table&gt;</span>, and
                    <span class="red-text">&lt;article&gt;</span> - Clearly defines its content.
                </p>
            </div>
            <hr>
            <div class="quotations px-4">
                <h2>Semantic Elements in HTML</h2>
                <p>Many web sites contain HTML code like: &lt;div id="nav"&gt; &lt;div class="header"&gt; &lt;div
                    id="footer"&gt; to indicate navigation, header, and footer.
                </p>
                <p>
                    In HTML there are some semantic elements that can be used to define different parts of a web page:
                </p>
                <ul>
                    <li>&lt;article&gt;</li>
                    <li>&lt;aside&gt;</li>
                    <li>&lt;details&gt;</li>
                    <li>&lt;figcaption&gt;</li>
                    <li>&lt;figure&gt;</li>
                    <li>&lt;footer&gt;</li>
                    <li>&lt;header&gt;</li>
                    <li>&lt;mian&gt;</li>
                    <li>&lt;mark&gt;</li>
                    <li>&lt;nav&gt;</li>
                    <li>&lt;section&gt;</li>
                    <li>&lt;summary&gt;</li>
                    <li>&lt;time&gt;</li>

                </ul>
            </div>
            <hr>
            <div class="quotations px-4">
                <h2>HTML &lt;section&gt; Element</h2>
                <p>The <span class="red-text">&lt;section&gt;</span> element defines a section in a document.
                </p>
                <p>
                    According to codebank's HTML documentation: "A section is a thematic grouping of content, typically
                    with a heading."
                </p>
                <p>
                    Examples of where a <span class="red-text">&lt;section&gt;</span> element can be used:
                </p>
                <ul>
                    <li>Chapters</li>
                    <li>Introduction</li>
                    <li>News Items</li>
                    <li>Contact Information</li>
                </ul>
                <p>
                    A web page could normally be split into sections for introduction, content, and contact information.
                </p>
            </div>
            <hr>
            <div class="quotations px-4">
                <h2>HTML &lt;article&gt; Element</h2>
                <p>
                    The <span class="red-text">&lt;article&gt;</span> element specifies independent, self-contained
                    content.
                </p>
                <p>
                    An article should make sense on its own, and it should be possible to distribute it independently
                    from the rest of the web site.
                </p>
                <p>
                    Examples of where a <span class="red-text">&lt;article&gt;</span> element can be used:
                </p>
                <ul>
                    <li>Forum posts</li>
                    <li>Blog posts</li>
                    <li>User comments</li>
                    <li>Product cards</li>
                    <li>Newspaper articles</li>
                </ul>
            </div>
            <hr>
            <div class="quotations px-4">
                <h2>Nesting &lt;article&gt; in &lt;article&gt; or Vice Versa?</h2>
                <p>
                    The <span class="red-text">&lt;article&gt;</span> element specifies independent, self-contained
                    content.
                </p>
                <p>
                    The <span class="red-text">&lt;section&gt;</span> element defines section in a document.
                </p>
                <p>
                    Can we use the definitions to decide how to nest those elements? No, we cannot!
                </p>
                <p>
                    So, you will find HTML pages with
                    <span class="red-text">&lt;section&gt;</span> elements containing <span
                        class="red-text">&lt;article&gt;</span> elements, and
                    <span class="red-text">&lt;article&gt;</span> elements containing <span
                        class="red-text">&lt;section&gt;</span> elements.
                </p>
            </div>
            <hr>
            <div class="quotations px-4">
                <h2>HTML &lt;header&gt; Element</h2>
                <p>
                    The <span class="red-text">&lt;header&gt;</span> element represents a container for introductory
                    content or a set of navigational links.
                </p>
                <p>
                    A <span class="red-text">&lt;header&gt;</span> element typically contains:
                </p>
                <ul>
                    <li>one or more heading elements (&lt;h1&gt; - &lt;h6&gt;)</li>
                    <li>logo or icon</li>
                    <li>authorship information</li>
                </ul>
                <p>
                    <strong>Note :</strong>
                    You can have several
                    <span class="red-text">&lt;header&gt;</span> elements in one HTML document. However, <span
                        class="red-text">&lt;header&gt;</span> cannot be placed within a <span
                        class="red-text">&lt;footer&gt;</span>, <span class="red-text">&lt;address&gt;</span>
                    or another <span class="red-text">&lt;header&gt;</span> element.
                </p>
            </div>
            <hr>
            <div class="quotations px-4">
                <h2>HTML &lt;footer&gt; Element</h2>
                <p>
                    The <span class="red-text">&lt;footer&gt;</span> element defines a footer for a document or section.
                </p>
                <p>
                    A <span class="red-text">&lt;footer&gt;</span> element typically contains:
                </p>
                <ul>
                    <li>authorship information</li>
                    <li>copyright information</li>
                    <li>contact information</li>
                    <li>sitemap</li>
                    <li>back to top links</li>
                    <li>related documents</li>
                </ul>
                <p>You can have several <span class="red-text">&lt;footer&gt;</span> elements in one document.</p>
            </div>
            <hr>
            <div class="quotations px-4">
                <h2>HTML &lt;nav&gt; Element</h2>
                <p>
                    The <span class="red-text">&lt;nav&gt;</span> element defines a set of navigation links.
                </p>
                <div class="note p-3 mt-3">
                    <p>
                        Notice that NOT all links of a document should be inside a <span
                            class="red-text">&lt;nav&gt;</span>
                        element. The <span class="red-text">&lt;nav&gt;</span> element is intended
                        only for major blocks of navigation links.
                    </p>
                    <p>
                        Browsers, such as screen readers for disabled users, can use this element to determine whether
                        to omit the initial rendering of this content.
                    </p>
                </div>
            </div>
            <hr>
            <div class="quotations px-4">
                <h2>HTML &lt;aside&gt; Element</h2>
                <p>
                    The
                    <span class="red-text">&lt;aside&gt;</span> element defines some content aside from the content it
                    is placed in (like a sidebar).
                </p>
                <p>
                    The <span class="red-text">&lt;aside&gt;</span> content should be indirectly related to the
                    surrounding content.
                </p>
            </div>
            <hr>
            <div class="quotations px-4">
                <h2>HTML &lt;figure&gt; and &lt;figcaption&gt; Elements</h2>
                <p>
                    The <span class="red-text">&lt;figure&gt;</span> tag specifies self-contained content, like
                    illustrations, diagrams, photos, code listings, etc.
                </p>
                <p>
                    The <span class="red-text">&lt;figcaption&gt;</span> tag defines a caption for a <span
                        class="red-text">&lt;figure&gt;</span> element. The <span
                        class="red-text">&lt;figcaption&gt;</span> element can be placed as the first or as the last
                    child of a <span class="red-text">&lt;figure&gt;</span> element.
                </p>
                <p>
                    The <span class="red-text">&lt;img&gt;</span> element defines the actual image/illustration.
                </p>
            </div>
            <hr>
            <div class="quotations px-4">
                <h2>Why Semantic Elements?</h2>
                <p>
                    According to the CodeBank: "A semantic Web allows data to be shared and reused across applications,
                    enterprises, and communities."
                </p>
            </div>
            <hr>
            <div class="example-editor bg-light p-4 pt-1">
                <h2 class="p-3 pb-0">Example</h2>
                <div class="code-section mx-4 p-3  mt-3">
                    <textarea #codeEditor></textarea>
                </div>
                <div class="output-frame w-100 p-3 mx-3">
                    <div #outputContainer></div>
                </div>
                <div class="try-yourself px-4  pb-4">
                    <button type="button" class="home-btn" (click)="runCode()">
                        Try it yourself
                        <span class="right-arrow">
                            <i class="fas fa-chevron-right fa-2x"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>