.main-container {
    display: flex;
    min-height: 100vh;
  }
  .content{
    flex: 1;
  }
  .home-btn,.next-btn{
    text-decoration: none;
    background: #ff6930;
    color: #ffffff;
    padding: 9px 17px;
    border-radius: 25px;
    border: 2px solid #ff6930;
  }
  .home-btn:hover,.next-btn:hover{
    background: #ffffff;
    color: #ff6930;
    border: 2px solid #ff6930;
  }
  .fa-chevron-left, .fa-chevron-right{
    font-size: 14px;
  }
  button.home-btn,.next-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .right-arrow{
    margin-left: 5px;
  }
  .left-arrow{
    margin-right: 5px;
  }
  .attributes-list li{
    font-size: 18px;
  }
  .red-text{
    color: red;
  }
  .quotations p,p,li{
    font-size: 18px;
  }
  .note{
    background-color: #ffffcc;
  }
  table{
    width: 80%;
    margin: 0 auto;
    border: 2px solid #e7e7e7;
  }
  tr{
    height: 30px;
  }
  td,th{
    border: 2px solid #e7e7e7;
    padding: 4px;
  }
  th{
    background-color: #ff6930;
  }