
<div class="container">
  <div class="card" style="text-align: center;">
   <div class="card-header">
      <h3>DOT NET  Introduction</h3>
   </div>
   <div class="card-body" style="border-radius: 10px solid red;">
     <h5 class="card-title"> </h5>

  <div class="container-fluid" >
   <h5>What is DOT NET?</h5>
   DOT NET is a web application framework developed by Microsoft that allows developers to build dynamic web pages, web applications, and web services using programming languages such as C# or VB.NET. It provides a rich set of tools and libraries for creating web-based applications, and it's designed to be scalable, secure, and easy to maintain. ASP.NET supports a variety of programming models, including Web Forms, MVC, and Web API, and it can be deployed on Windows-based servers running IIS (Internet Information Services). <br>
   <br>
   
      <h5>Why we use DOT NET?</h5>

      DOT NET is used for several reasons, including:<br>
      
     1.Rapid application development: ASP.NET provides a rich set of tools and libraries that make it easy for developers to build web applications quickly.
     <br>
     2. Scalability: ASP.NET is designed to be highly scalable and can handle large amounts of traffic without compromising performance.
      <br>
     3. Security: ASP.NET has built-in security features that help protect applications from common web-based attacks.
      <br>
      4. Cross-platform development: ASP.NET Core is a cross-platform framework that allows developers to build web applications that can run on Windows, Linux, and macOS.
      <br>
      5. Integration with other Microsoft technologies: ASP.NET integrates with other Microsoft technologies such as SQL Server, Azure, and Visual Studio, making it easy for developers to build and deploy web applications using a familiar toolset.
      <br>
      Overall, ASP.NET is a powerful and flexible web application framework that allows developers to create robust and secure web applications quickly and easily.
  
   </div> 
   </div>
  

   <div class="card-footer text-muted">
    <div class="row"> 
      <div class="col-sm-12 col-lg-12 " > 


</div>
      
      <hr>
      <img src="https://www.eviaglobal.com/images/microsoft-net-development.jpg">
     
      
      

   </div>

   </div>
   
   </div>
 </div>

