<div class="container">
<div class="row">
	<div class="col-sm-12 col-lg-12">

	<div class="card text-align center">
		<h6 class="card-title"><b class="bold" style="text-align: center;">HTML Website</b></h6>
		<img src="assets/images/website.jpg"  alt="Tech Engineer,html,CSS,html online traning,react traning ,angular traning in kharar,kharar, kharar best traning center,web development traning kharar,web design traning, digital marketing, mobile app development,traning,software developer.IT carrer ">
		<div class="card-body">
			
			<div class="container-fluid" >
		  <h6 >How to make Website using HTML?</h6>
		  HTML is used to create structured and formatted content for web pages. HTML provides a standard markup language that allows web developers to define the structure and content of a web page using various HTML elements and tags.
		  <br>To make a website using HTML:<br>
 1. Plan your website's structure, content, and design.<br>
 2. Set up a text editor and web browser.<br>
 3. Create an HTML file with a .html extension.<br>
 4. Write HTML code to create the structure and content of your website.<br>
 5. Test your website by opening it in a web browser.<br>
 6. Add CSS and JavaScript for styling and interactivity.<br>
 7. Publish your website using a domain name and web hosting service.<br>
 8. Then the website is live. You can check the in Google.  <br>
 These are the basic steps for making a website using HTML. There are many resources available online to help you learn HTML, CSS, and JavaScript, including tutorials, courses, and forums. Good luck with your website!
		
</div>
		
	  </div>

	</div>
	</div>
	<div class="col-sm-12 col-lg-12">


	  <div class="card" >
		<h6 class="card-title" ><b class="bold">HTML Blog</b></h6>
		<img src="assets/images/blog.jpg" class="card-img-top" alt="Tech Engineer,html,CSS,html online traning,react traning ,angular traning in kharar,kharar, kharar best traning center,web development traning kharar,web design traning, digital marketing, mobile app development,traning,software developer.IT carrer ">
		<div class="card-body">
			<h5 class="card-title"></h5>
			<div class="container-fluid" >
		  <h6 >How to make Blog using html</h6>
		 To create a blog with HTML, you will need to follow these basic steps:
			<br>

			1. Create a new HTML document and name it something like "blog.html".
			<br>2. Add the necessary HTML structure to the document, including a "head" section and a "body" section.
			<br>3. Within the "head" section, add the necessary metadata, such as the title of your blog, any CSS stylesheets or JavaScript files you'll be using, and any other relevant information.
			<br>4. Within the "body" section, create the main content area for your blog. This could include a header section with the name of your blog, a navigation bar, and a section for your blog posts.
			<br>5. Within the "body" section, create the main content area for your blog. This could include a header section with the name of your blog, a navigation bar, and a section for your blog posts.
			<br>6. Within the blog posts section, create individual blog posts using HTML elements such as headings, paragraphs, images, and links.
			<br>7. Within the blog posts section, create individual blog posts using HTML elements such as headings, paragraphs, images, and links.
			<br>8. Within the blog posts section, create individual blog posts using HTML elements such as headings, paragraphs, images, and links.
		    
		<br>Save your blog HTML file and open it in a web browser to preview your blog.
	
		  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
		</div>
	  </div>
	
	
	</div>
	</div>
</div>









