
      
<div class="container">
    <div class="card" style="text-align: center;">
     <div class="card-header">
        <h3>HTML Styles</h3>
     </div>
     <div class="card-body" style="border-radius: 10px solid red;">
       <h5 class="card-title"> </h5>
  
    <div class="container-fluid" >
     <h5>What is Formatting ?</h5>
  
     HTML text formatting refers to the process of changing the appearance of text in a web page using HTML tags. HTML tags are used to define the structure and content of a web page, including headings, paragraphs, lists, links, and images.
<br><br>
Text formatting tags allow web developers to change the size, color, font, and style of text in a web page to create a visually appealing and easy-to-read design. Common text formatting tags include:<br><br>

 1. < b> and < strong>: bold text<br>
 2. < i> and < em>: italicized text<br>
 3. < u>: underlined text<br>
 4. < s>: strikethrough text<br>
 5. < sub>: subscript text<br>
 6. < sup>: superscript text<br>
 <br>
These tags can be used individually or in combination with other HTML tags to create a variety of text formatting options. For example, you can use the < h1> tag to create a large, bold heading for a web page, or the < p> tag to create a paragraph of text with a smaller font size.
     <br><br>
     
        <h5>Why we use Formatting ?</h5>
  
        HTML text formatting is used for several reasons, including:
       <br><br>
        1. Readability: By using text formatting tags, you can make your text more readable and easier to scan for your audience. For example, you can use headings to break up your content into sections and subheadings, and use bold or italic text to emphasize important points.<br>
        
        2. Visual appeal: HTML text formatting allows you to create visually appealing web pages that are more engaging for your audience. By changing the font size, color, and style, you can create a unique look and feel for your web page that sets it apart from others.<br>
        
        3. Accessibility: HTML text formatting can also help make your content more accessible to users with disabilities. For example, using heading tags in the correct order can help screen readers and other assistive technologies understand the structure of your content and make it easier to navigate.<br><br>
        
        Overall, HTML text formatting is an essential tool for creating effective and engaging web pages that communicate your message clearly and effectively.
  
       
     </div> 
     </div>
    
  
     <div class="card-footer text-muted">
      <div class="row"> 
        <div class="col-sm-12 col-lg-12 " > 
  
  <!-- <textarea id="hp">  
  <!DOCTYPE html>
     <html>
        <head>
           <title>TechEngineer</title>
        </head>
        <body>
           <h1>This is H1 Tag</h1>
           <p>This is p Tag</p>
        </body>
    </html>
  </textarea> -->
  </div>
        
        <hr>
        <div class="row">
         <div class="col-sm-12 col-lg-6">
           <div class="row">
              <div class="col-sm-3 col-lg-6">
              <!-- <button id="bt"   (click)="displayHtmlContent()">Try YourSelf</button> -->
            </div></div>
            <!-- <iframe width="100%" id="html-iframe" height="50%"></iframe> -->
         </div>
      <div class="col-sm-12 col-lg-6">
         <!-- <iframe class="video" width="530" height="315" src="https://www.youtube.com/embed/7haQGLPWrwo" title="YouTube video player" alt="Tech Engineer,html,CSS,html online traning,react traning ,angular traning in kharar,kharar, kharar best traning center,web development traning kharar,web design traning, digital marketing, mobile app development,traning,software developer.IT carrer " frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
      </div>
      </div>
        
        
  
     </div>
  
     </div>
     
     </div>
   </div>
  
  