<div class="wrapper">
    <div class="main-container">
        <app-sidebar [sidebarData]="sidebar"></app-sidebar>
        <div class="content mb-5 p-4">
            <div class="home-next d-flex justify-content-between p-3">
                <button type="button" class="home-btn" [routerLink]="['../html-paragraphs']"> <span class="left-arrow"><i
                            class="fas fa-chevron-left fa-2x"></i></span>Privious</button>
                <button type="button" class="next-btn " [routerLink]="['../html-formatting']">Next <span class="right-arrow"><i
                            class="fas fa-chevron-right fa-2x"></i></span></button>
            </div>
            <h1 class="p-3 pt-1" id="introduction">HTML Styles</h1>
            <div class="styles px-4">
                <p>The HTML <span class="red-text">style</span> attribute is used to add styles to an element, such as
                    color, font, size, and more</p>

            </div>
            <hr>
            <div class="styles px-4">
                <h2>HTML Style Atttribute</h2>
                <p>Setting the style of an HTML element, can be done with the <span class="red-text">style</span>
                    attribute.

                    The HTML <span class="red-text">style</span> attribute has the following syntax:</p>
                <h3> <span class="red-text">&lt;tagname style="property:value;"&gt;&lt;/tagname&gt;</span></h3>
            </div>
            <hr>
            <div class="styles px-4">
                <h2>Background Color</h2>
                <p>The CSS <span class="red-text">background-color</span> property defines the background color for an
                    HTML element.</p>

            </div>
            <hr>
            <div class="styles px-4">
                <h2>Text Color</h2>
                <p>The CSS <span class="red-text">color</span> property defines the text color for an HTML element</p>

            </div>
            <hr>
            <div class="styles px-4">
                <h2>Fonts</h2>
                <p>The CSS <span class="red-text">font-family</span> property defines the font to be used for an HTML
                    element</p>

            </div>
            <hr>
            <div class="styles px-4">
                <h2>Text-Size</h2>
                <p>The CSS <span class="red-text">font-Size</span> property defines the text size for an HTML element
                </p>

            </div>
            <hr>
           
            <div class="styles px-4">
                <h2>Text-Alignment</h2>
                <p>The CSS <span class="red-text">Text-Align</span> property defines the horizontal text alignment for an HTML element:</p>
            </div>
            <div class="example-editor bg-light p-4 pt-1">
                <h2 class="p-3 pb-0">Example</h2>
                <div class="code-section mx-4 p-3  mt-3">
                    <textarea #codeEditor></textarea>
                </div>
                <div class="output-frame w-100 p-3 mx-3">
                    <div #outputContainer></div>
                </div>
                <div class="try-yourself px-4  pb-4">
                    <button type="button" class="home-btn" (click)="runCode()">
                        Try it yourself
                        <span class="right-arrow">
                            <i class="fas fa-chevron-right fa-2x"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>