<div class="wrapper">
    <div class="main-container">
        <app-sidebar [sidebarData]="sidebar"></app-sidebar>
        <div class="content mb-5 p-4">
            <div class="home-next d-flex justify-content-between p-3">
                <button type="button" class="home-btn"> <span class="left-arrow"><i
                            class="fas fa-chevron-left fa-2x"></i></span>Privious</button>
                <button type="button" class="next-btn ">Next <span class="right-arrow"><i
                            class="fas fa-chevron-right fa-2x"></i></span></button>
            </div>
            <h1 class="p-3 pt-1" id="introduction">HTML Headings</h1>
            <div class="headings px-4">
                <p>
                    HTML headings are titles or subtitles that you want to display on a webpage.
                </p>

                <p>
                    There are six different HTML headings which are defined with the
                    <span class="red-text">&lt;h1&gt;</span> to <span class="red-text">&lt;h6&gt;</span> tags, from
                    highest level h1 (main heading) to the least level h6 (least important heading).
                </p>

                <p>
                    <strong>Headings in HTML helps the search engine to understand and index the structure of web
                        page.</strong>
                </p>
            </div>
            <hr>
            <div class="example-editor bg-light p-4 pt-1">
                <h2 class="p-3 pb-0">Example</h2>
                <div class="code-section mx-4 p-3  mt-3">
                    <textarea #codeEditor></textarea>
                </div>
                <div class="output-frame w-100 p-3 mx-3">
                    <div #outputContainer></div>
                </div>
                <div class="try-yourself px-4  pb-4">
                    <button type="button" class="home-btn" (click)="runCode()">
                        Try it yourself
                        <span class="right-arrow">
                            <i class="fas fa-chevron-right fa-2x"></i>
                        </span>
                    </button>
                </div>
                <hr>
                <div class="easy-learning p-4 mt-5">
                    <h2>Easy Learning with Video Tutorial</h2>
                    <p class="example-txt">With our video tutorial you can easily learn html:</p>
                    <div class="example-editor text-center">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/P4lKKpAC4lg?si=W_6I2FVjLuxtaDWn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>