
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap');

@import 'codemirror/lib/codemirror.css';
@import 'codemirror/theme/material.css';

/* You can add global styles to this file, and also import other style files */
body{
    font-family: blinker;
}
.wrapper {
    background: azure;
}
@media only screen and (max-width:768px)
{
    .card{
        width: 23rem;
        margin-top: 50px;
    }
    .col-5{
        width: 0;
    }
    .col-2{
        width: 0%;
    }
    iframe{
        height: 200px;
        width: 358px;
    
    }
    .map{
        padding-left: 10px;
        padding-right: 10px;
    }
   
}
.card{
    width:1105px;
    margin-top: 18px;
}

