
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap');

@import 'codemirror/lib/codemirror.css';
@import 'codemirror/theme/material.css';

/* You can add global styles to this file, and also import other style files */
body{
    font-family: blinker;
}
.wrapper {
    background: azure;
    width: 100%;
    overflow: auto;
}


/* main css for almost pages */
.main-container {
    display: flex;
    min-height: 100vh;
  }
  .content{
    flex: 1;
  }
  .home-btn,.next-btn{
    text-decoration: none;
    background: #ff6930;
    color: #ffffff;
    padding: 9px 17px;
    border-radius: 25px;
    border: 2px solid #ff6930;
  }
  .home-btn:hover,.next-btn:hover{
    background: #ffffff;
    color: #ff6930;
    border: 2px solid #ff6930;
  }
  .fa-chevron-left, .fa-chevron-right{
    font-size: 14px;
  }
  button.home-btn,.next-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .right-arrow{
    margin-left: 5px;
  }
  .left-arrow{
    margin-right: 5px;
  }
  .attributes-list li{
    font-size: 18px;
  }
  .red-text{
    color: red;
  }
  .css p,li,p{
    font-size: 18px;
  }
  .collection{
    background-color:  antiquewhite;;
  }
  .note{
    background-color: #ffffcc;
  }
  a{
    text-decoration: none;
  }
  /* css end */
@media only screen and (max-width:768px)
{
    .card{
        width: 23rem;
        margin-top: 50px;
    }
    .col-5{
        width: 0;
    }
    .col-2{
        width: 0%;
    }
    iframe{
        height: 200px;
        width: 358px;
    
    }
    .map{
        padding-left: 10px;
        padding-right: 10px;
    }
   
}
.card{
    width:1105px;
    margin-top: 18px;
}
@media screen and (max-width:575px){
    h1{
        font-size: 18px;
        font-weight: 600;
    }
    p{
        font-size: 16px !important;
    }
    h2{
        font-size: 17px;
        font-weight: 600px;
    }
    h3{
        font-size: 16px;
        font-weight: 700;
    }
    .home-btn, .next-btn {
        padding: 6px 9px !important;
    }
}
@media screen and (max-width:535px){
    .sub-top-nav-container{
        overflow: auto !important;
    }
   
}