<div class="container">
<div class="card" style="text-align: center;">
  <div class="card-header">
     <h3>HTML Elements</h3>
  </div>
  <div class="card-body" style="border-radius: 10px solid red;">
    <h5 class="card-title"> </h5>

 <div class="container-fluid" >

     <h6>What is HTML Elements ?</h6>

HTML elements are the building blocks of a web page. They are the tags that define the structure and content of a web page. Here are some common HTML elements:<br>

1.`< html>` - The root element that contains all other elements on the page.<br>
2. `< head>` - Contains meta information about the page, such as the title, styles, and scripts.<br>
3. `< body>` - Contains the visible content of the page, such as text, images, and videos.<br>
4. `< h1> to < h6>` - Headings that define the hierarchy of the page content.<br>
5. `< p>` - Paragraphs of text.<br>
6. `< a>` - Links to other web pages or resources.<br>
7. `< img>` - Images to be displayed on the page.<br>
8. `< ul> and < ol>` - Unordered and ordered lists.<br>
9. `< li>` - List items within a list.<br>
10. `< table>` - A table with rows and columns of data.<br>
11. `< tr>` - A table row.<br>
12. `< th> and < td>` - Table header and data cells, respectively.<br>
13. `< form>` - A form for user input, such as login or contact forms.<br>
14. `< input>` - Input fields within a form, such as text boxes and radio buttons.<br>
15. `< button> `- A clickable button on the page.<br>
These are just a few examples of HTML elements. There are many more elements that can be used to create a web page with various content and functionality.
<br>

</div> 
</div>

<div class="card-footer text-muted">


</div>
</div>
</div>
