<app-banner></app-banner>
<div class="container-fluid">
  <div class=" pt-5 bg-light pb-5">
    <h2 class=" text-center pb-3">
      <span class="ind-training">Industrial Training</span>
    </h2>
    <div class="col-md-12 col-sm-12">
      <div class="row">
        <div class="col-md-3 trainign-image p-0">
          <div class="train-image">
            <img src="./assets/images/abcd.JPG">
          </div>
        </div>
        <div class="col-md-3 trainign-image p-0">
          <div class="train-image">
            <img src="./assets/images/13.JPG">
          </div>
        </div>
        <div class="col-md-3 trainign-image p-0">
          <div class="train-image">
            <img src="./assets/images/14.JPG">
          </div>
        </div>
        <div class="col-md-3 trainign-image p-0">
          <div class="train-image">
            <img src="./assets/images/15.JPG">
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-md-3 trainign-image p-0">
          <div class="train-image">
            <img src="./assets/images/25.JPG">
          </div>
        </div>
        <div class="col-md-3 trainign-image p-0">
          <div class="train-image">
            <img src="./assets/images/26.JPG ">
          </div>
        </div>
        <div class="col-md-3 trainign-image p-0">
          <div class="train-image">
            <img src="./assets/images/27.JPG ">
          </div>
        </div>
        <div class="col-md-3 trainign-image p-0">
          <div class="train-image">
            <img src="./assets/images/19.JPG">
          </div>
        </div>
      </div>
    </div>
    <div class="col pt-4">
      <div class="training-heading">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error quibusdam doloremque aperiam commodi ipsa
          rerum, doloribus voluptatum, saepe dolorem nostrum id tempore, repudiandae voluptatibus excepturi consequatur.
          Voluptate itaque corrupti accusamus?</p>
        <div class="view-btn text-center mt-5">
          <button type="button" class="view-more">View More</button>
        </div>
      </div>
    </div>
  </div>

  <div class="certification-section pt-4 pb-4 container">
    <!-- <h2 class="text-center pb-4">
      Get Certified
    </h2> -->
    <div class="row">
      <div class="col-md-6">
        <div class="certificate-image">
          <img src="./assets/images/certification.jpg">
        </div>
      </div>
      <div class="col-md-6">
        <h2>Certification</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos a neque odit temporibus laboriosam veniam minus
          dicta, maxime suscipit quasi, at, nemo officia perferendis tempora quas iste. Sint consectetur modi fugiat
          velit harum doloribus, natus ratione sapiente quis nulla, porro reprehenderit, repellendus voluptatem eos esse
          voluptate earum. Odio eius, nulla in accusamus ipsa praesentium ullam animi, harum inventore quia rerum id aut
          odit a laudantium! Animi maxime laborum tenetur eaque ut, sapiente fugit illo laudantium nostrum adipisci ea
          recusandae dolorem, exercitationem soluta atque architecto commodi voluptas expedita maiores ipsam ex optio
          voluptatibus voluptate nulla! Placeat veritatis eos nesciunt fuga corrupti?
        </p>
        <div class="certificate-btn">
          <button type="button" [routerLink]="['/certifications']" class="view-more">Get Certified</button>
        </div>
      </div>
    </div>
  </div>

  <div class="ask-question-section pt-5 pb-5 container">
    <!-- <h2 class="text-center">Ask Questions</h2> -->
    <div class="row pt-4">
      
      <div class="col-md-6">
        <h2>Ask Your Questions</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat eveniet dolores soluta quia maiores aperiam rem fugit, obcaecati non impedit? Inventore, tempora. Nesciunt, laudantium? Non perferendis tempora animi. Hic, aut!</p>
        <div class="question-button">
          <button type="button" [routerLink]="['/forum']" class="view-more">Ask your question</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="ask-image">
          <img src="./assets/images/ask-question.jpg">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <h1 id="Contact" class="text-center contact-heading">CONTACT US</h1>
<h5 class="text-center">You can share you querry</h5>
<div class="bottom-border"></div>

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 text-center address">
            <h3 class="address-text">ADDRESS</h3>
            <p class="text-primary">E-51 Phase 8 Industrial Area Mohali </p>
        </div>
        <div class="col-lg-4 col-md-4 text-center address">
            <h3 class="address-text">PHONE NUMBER</h3>
            <p class="text-primary">8544884846</p>
        </div>
        <div class="col-lg-4 col-md-4 text-center">
            <h3 class="address-text">E-MAIL</h3>
            <p class="text-primary">hrmanager@thetechenigneer.com</p>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6">
            <input class="name-field" type="text" placeholder="Your Name">
        </div>
        <div class="col-lg-6">
            <input class="name-field" type="text" placeholder="Your E-mail">
        </div>
        <div class="col-lg-12">
            <input class="name-field" type="text" placeholder="Subject">
        </div>
        <div class="col-lg-12">
            <textarea class="name-field" name="Message" placeholder="Message" rows="5"></textarea>
            <button class="btn send-message mt-1">Send Message</button>
        </div>
    </div>
</div> -->