<div class="wrapper">
    <div class="main-container">
        <app-sidebar [sidebarData]="sidebar"></app-sidebar>
        <div class="content mb-5 p-4 ">
            <div class="home-next d-flex justify-content-between">
                <button type="button" class="home-btn"> <span class="left-arrow"><i
                            class="fas fa-chevron-left fa-2x"></i></span>Privious</button>
                <button type="button" class="next-btn ">Next <span class="right-arrow"><i
                            class="fas fa-chevron-right fa-2x"></i></span></button>
            </div>

            <div class="intro p-2 pt-3 px-4">
                <h1>AngularJS Introduction</h1>
                <p>
                    AngularJS is a <strong>JavaScript framework.</strong> It can be added to an HTML page with a <span
                        class="red-text">&lt;script&gt;</span> tag.
                </p>
                <p>
                    AngularJS extends HTML attributes with <strong>Directives</strong>, and binds data to HTML with
                    <strong>Expressions</strong>.
                </p>
            </div>
            <hr>
            <div class="intro p-2 pt-3 px-4">
                <h1>AngularJS is a JavaScript Framework</h1>
                <p>
                    AngularJS is a JavaScript framework written in JavaScript.
                </p>
                <p>
                    AngularJS is distributed as a JavaScript file, and can be added to a web page with a script tag:
                </p>
                <p>
                    <span class="red-text">
                        &lt;script
                        src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"&gt;&lt;/script&gt;
                    </span>
                </p>
            </div>
            <hr>
            <div class="intro p-2 pt-3 px-4">
                <h1>AngularJS Extends HTML</h1>
                <p>
                    AngularJS extends HTML with <strong>ng-directives</strong>.
                </p>
                <p>
                    The <strong>ng-app</strong> directive defines an AngularJS application.
                </p>
                <p>
                    The <strong>ng-model</strong> directive binds the value of HTML controls (input, select, textarea)
                    to application
                    data.
                </p>
                <p>
                    The <strong>ng-bind</strong> directive binds application data to the HTML view.
                </p>
            </div>
            <hr>
            <div class="intro p-2 pt-3 px-4">
                <h1>AngularJS Directives</h1>
                <p>
                    As you have already seen, AngularJS directives are HTML attributes with an <strong>ng</strong>
                    prefix.
                </p>
                <p>
                    The <strong>ng-init</strong> directive initializes AngularJS application variables.
                </p>

            </div>
            <hr>
            <div class="intro p-2 pt-3 px-4">
                <h1>AngularJS Expressions</h1>
                <p>
                    AngularJS expressions are written inside double braces: <strong>aadd.</strong>
                </p>
                <p>
                    AngularJS will "output" data exactly where the expression is written:
                </p>

            </div>
            <hr>
            <div class="intro p-2 pt-3 px-4">
                <h1>AngularJS Applications</h1>
                <p>
                    AngularJS <strong>modules</strong> define AngularJS applications.
                </p>
                <p>
                    AngularJS <strong>controllers</strong> control AngularJS applications.
                </p>
                <p>
                    The <strong>ng-app</strong> directive defines the application, the <strong>ng-controller</strong>
                    directive defines
                    the controller.
                </p>
            </div>
        </div>
    </div>
</div>