<div class="wrapper">
    <div class="main-container">
        <app-sidebar [sidebarData]="sidebar"></app-sidebar>
        <div class="content mb-5 p-4 ">
            <div class="home-next d-flex justify-content-between">
                <button type="button" class="home-btn"> <span class="left-arrow"><i
                            class="fas fa-chevron-left fa-2x"></i></span>Privious</button>
                <button type="button" class="next-btn ">Next <span class="right-arrow"><i
                            class="fas fa-chevron-right fa-2x"></i></span></button>
            </div>

            <div class="expression p-2 pt-3 px-4">
                <h1>AngularJS Controller</h1>
                <p>
                    AngularJS controllers <strong>control the data</strong> of AngularJS applications.
                </p>
                <p>
                    AngularJS controllers are regular <strong>JavaScript Objects.</strong>
                </p>
            </div>
            <hr>
            <div class="expression p-2 pt-3 px-4">
                <h2>AngularJS Controllers</h2>
                <p>
                    AngularJS applications are controlled by controllers.
                </p>
                <p>
                    The <strong>ng-controller</strong> directive defines the application controller.
                </p>
                <p>
                    A controller is a <strong>JavaScript Object</strong>, created by a standard JavaScript <strong>
                        object constructor.</strong>
                </p>
            </div>
            <hr>
            <div class="expression p-2 pt-3 px-4">
                <h2>Controller Methods</h2>
                <p>
                    A controller can also have methods (variables as functions)
                </p>
            </div>
            <hr>
            <div class="expression p-2 pt-3 px-4">
                <h2>Controllers In External Files</h2>
                <p>
                    In larger applications, it is common to store controllers in external files.
                </p>
            </div>
        </div>
    </div>
</div>