<div class="container">
   <div class="card" style="text-align: center;">
      <div class="card-header">
         <h3>HTML Introduction</h3>
      </div>
      <div class="card-body" style="border-radius: 10px solid red;">
         <h5 class="card-title"> </h5>
         <div class="container-fluid">
            <h5>What is HTML ?</h5>
            HTML stands for HyperText Markup Language, which is a standard markup language used to create web pages. HTML provides the structure and content of a web page, defining the different elements such as headings, paragraphs, images, and links. The new standard incorporates features like video playback and drag-and-drop that have been previously dependent on third-party browser plug-ins such as Adobe Flash, Microsoft Silverlight, and Google Gears.
            <br>
            <br>
            <h6>Why we use HTML ?</h6>

            HTML is used to create structured and formatted content for web pages. HTML provides a standard markup
            language that allows web developers to define the structure and content of a web page using various HTML elements and tags.
            <br>
            <br>

            Here are some reasons why HTML is used:<br>

            1. Structure: HTML provides a structured way to organize content on a web page using headings, paragraphs, lists, and other elements. This makes it easier for users to read and navigate the content.
            <br>
            2. Formatting: HTML allows you to format content with styles such as bold, italic, underline, and more. This can help emphasize important information and make it stand out.
            <br>
            3. Multimedia Support: HTML also supports embedding multimedia elements such as images, audio, and video, which can enhance the user experience of a web page.
            <br>
            4. Accessibility: HTML provides features that can help make web pages more accessible to users with
            disabilities, such as alt attributes for images and semantic HTML for screen readers.
            <br>
            5. Compatibility: HTML is a widely adopted standard and is supported by all major web browsers, making it a reliable choice for creating web pages that are compatible across different platforms and devices.
            <br>
            Overall, HTML is an essential tool for web developers and is used to create the basic building blocks of a web page, making it an integral part of web development.
         </div>
      </div>


      <div class="card-footer text-muted">
         <div class="row">
            <div class="col-sm-12 col-lg-12 ">
               <textarea id="hp">
                  <!DOCTYPE html>
                     <html>
                        <head>
                           <title>TechEngineer</title>
                        </head>
                        <body>
                           <h1>This is H1 Tag</h1>
                           <p>This is p Tag</p>
                        </body>
                  </html>
               </textarea>
            </div>
            <hr>
            <div class="row">
               <div class="col-sm-12 col-lg-6">
                  <div class="row">
                     <div class="col-sm-3 col-lg-6">
                        <button id="bt" (click)="displayHtmlContent()">Try YourSelf</button>
                     </div>
                  </div>
                  <iframe width="100%" id="html-iframe" height="50%"></iframe>
               </div>
               <div class="col-sm-12 col-lg-6">
                  <iframe class="video" width="530" height="315" src="https://www.youtube.com/embed/7haQGLPWrwo"
                     title="YouTube video player"
                     alt="Tech Engineer,html,CSS,html online traning,react traning ,angular traning in kharar,kharar, kharar best traning center,web development traning kharar,web design traning, digital marketing, mobile app development,traning,software developer.IT carrer "
                     frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>